<div class="container makeBgWhite" [class.disableDiv]="isAdmin">
    <div class="personal-information">
      <div class="equipment-info-details makeCenter">
        <p class="user-name">Equipment</p>
        <p class="user-description">Please Provide the Correct Information about your Equipment Details</p>
      </div>

      <div class="drones-details">
          <div class="inner-page-header mBottom20 mtop30">
              <div class="row">
                <div class="col-md-6 col-sm-12 col-xs-12">
                  <h3 class="aperu-regular">Drones</h3>
                </div>

                <div class="col-md-6 col-sm-12 col-xs-12">
                 <button class="primary-dws-button aperu-regular pull-right" (click)="toggleDrone()">Add Drone</button>
                </div>
              </div>
              <div class="add-drone-details" *ngIf="showAddDrone" [formGroup]="addDrone">
                <div class="seperator"></div>
                  <div class="row add-top-border" >
                      <div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="form-group">
                          <label for="title" class="custom-input-label">Title</label>
                          <input type="text" class="form-control custom-input" aria-describedby="title"
                            placeholder="Title" formControlName="DroneTitle">
                            <div *ngIf="submittedDrone && dronesForm.DroneTitle.errors" class="invalid-feedback">
                                <div *ngIf="dronesForm.DroneTitle.errors.required">Title is required</div>
                            </div>
                        </div>
                      </div>

                      <div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="form-group">
                          <label for="serialnumber" class="custom-input-label">Serial Number (S/N)</label>
                          <input type="text" class="form-control custom-input" id="serialnumber" aria-describedby="serialnumber"
                            placeholder="Serial Number" formControlName="SerialNumber">
                            <div *ngIf="submittedDrone && dronesForm.SerialNumber.errors" class="invalid-feedback">
                                <div *ngIf="dronesForm.SerialNumber.errors.required">Serial Number is required</div>
                            </div>
                        </div>
                      </div>

                      <div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="form-group">
                          <label for="Description" class="custom-input-label">Description</label>
                          <input type="text" class="form-control custom-input" id="Description" aria-describedby="Description"
                            placeholder="Description" formControlName="Description">
                            <div *ngIf="submittedDrone && dronesForm.Description.errors" class="invalid-feedback">
                                <div *ngIf="dronesForm.Description.errors.required">Description is required</div>
                            </div>
                        </div>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-md-12 col-sm-12 col-xs-12 makeCenter">

                        <button *ngIf="!updateDrone"class="button-secondary-dws" (click)="addNewDrone()">Add to Drones</button>
                        <button *ngIf="updateDrone"class="button-secondary-dws" (click)="updateDroneByID()">Update Drones</button>
                      </div>
                    </div>
              </div>
            </div>
            <div class="custom-table">
                <div class="table" *ngIf="loaders.droneLoader">
                    <div class="spinner">
                        <div class="double-bounce1"></div>
                        <div class="double-bounce2"></div>
                      </div>
                </div>
              <div class="table makeCenter" *ngIf="!loaders.droneLoader && !drones.length">
                <p>Not Found</p>
              </div>
              <div class="table" *ngIf="drones && drones.length && !loaders.droneLoader">
                <div class="table-header mBottom25 for-four-columns ">
                  <span>Title</span>
                  <span>Description</span>
                  <span>Serial Number(S/N)</span>
                  <span class="makeCenter">Action</span>
                </div>
                <div class="table-body">
                  <div class="table-row mBottom25 for-four-columns" *ngFor="let drone of drones">
                    <span [innerHtml]="drone.DroneTitle"></span>
                    <span [innerHtml]="drone.Description?drone.Description: '-' "></span>
                    <span class="karla-bold" [innerHtml]="drone.SerialNumber"></span>
                    <span class="makeCenter">
                      <div class="editRow" (click)="editRow(drone,'drone')"><i class="fa fa-pencil" aria-hidden="true"></i></div>
                      <div class="deleteRow" (click)="openModalWithClass(delete,'drone',drone.ID)"><i class="fa fa-trash-o" aria-hidden="true"></i></div>
                    </span>
                  </div>
                </div>
              </div>
            </div>
      </div>

      <!-- <div class="batteries-details">
          <div class="inner-page-header mBottom20 mtop30">
              <div class="row">
                <div class="col-md-6 col-sm-12 col-xs-12">
                  <h3 class="aperu-regular">Batteries</h3>
                </div>

                <div class="col-md-6 col-sm-12 col-xs-12">
                 <button class="primary-dws-button aperu-regular pull-right" (click)="showAddBattery=!showAddBattery">Add Battery</button>
                </div>
              </div>
              <div class="add-battery-detail" *ngIf="showAddBattery">
                  <div class="seperator"></div>
                  <div class="row add-top-border" >
                      <div class="col-md-6 col-sm-12 col-xs-12">
                        <div class="form-group">
                          <label for="title" class="custom-input-label">Title</label>
                          <ng-select [(ngModel)]="selectedCarId" [ngModelOptions]="{standalone: true}">
                            <ng-option *ngFor="let suff of suffix" >{{suff.name}}</ng-option>
                        </ng-select>
                        </div>
                      </div>


                      <div class="col-md-6 col-sm-12 col-xs-12">
                        <div class="form-group">
                          <label for="Description" class="custom-input-label">Description</label>
                          <input type="text" class="form-control custom-input" id="Description" aria-describedby="Description"
                            placeholder="Description">
                        </div>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-md-12 col-sm-12 col-xs-12 makeCenter">
                        <button class="button-secondary-dws">Add to Batteries</button>
                      </div>
                    </div>
              </div>

            </div>

            <div class="custom-table">
              <div class="table">
                <div class="table-header mBottom25 for-three-columns ">
                  <span>Title</span>
                  <span>Description</span>
                  <span class="makeCenter">Action</span>
                </div>
                <div class="table-body">
                  <div class="table-row mBottom25 for-three-columns " *ngFor="let drone of drones">
                    <span [innerHtml]="drone.title"></span>
                    <span [innerHtml]="drone.description"></span>
                    <span class="makeCenter">
                      <div class="editRow"><i class="fa fa-pencil" aria-hidden="true"></i></div>
                      <div class="deleteRow"><i class="fa fa-trash-o" aria-hidden="true"></i></div>
                    </span>
                  </div>
                </div>
              </div>
            </div>
      </div> -->

      <div class="other-equipment-details">
          <div class="inner-page-header mBottom20 mtop30">
              <div class="row">
                <div class="col-md-6 col-sm-12 col-xs-12">
                  <h3 class="aperu-regular">Other Equipment</h3>
                </div>

                <div class="col-md-6 col-sm-12 col-xs-12">
                 <button class="primary-dws-button aperu-regular pull-right" (click)="toggleEquipment()">Add Other Equipment</button>
                </div>
              </div>
              <div class="add-battery-detail" *ngIf="otherEquipment"  [formGroup]="addEquipment">
                  <div class="seperator"></div>
                  <div class="row add-top-border" >
                      <div class="col-md-6 col-sm-12 col-xs-12">
                        <div class="form-group">
                          <label for="title" class="custom-input-label">Title</label>
                          <input type="text" class="form-control custom-input" aria-describedby="title"
                            placeholder="Title" formControlName="EquipmentTitle">
                            <div *ngIf="submittedEquipment && equipmentForm.EquipmentTitle.errors" class="invalid-feedback">
                                <div *ngIf="equipmentForm.EquipmentTitle.errors.required">Title is required</div>
                            </div>
                        </div>
                      </div>


                      <div class="col-md-6 col-sm-12 col-xs-12">
                        <div class="form-group">
                          <label for="Description" class="custom-input-label">Description</label>
                          <input type="text" class="form-control custom-input" id="Description" aria-describedby="Description"
                            placeholder="Description" formControlName="Description">
                            <div *ngIf="submittedEquipment && equipmentForm.Description.errors" class="invalid-feedback">
                                <div *ngIf="equipmentForm.Description.errors.required">Description is required</div>
                            </div>
                        </div>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-md-12 col-sm-12 col-xs-12 makeCenter">
                        <button *ngIf="!updateEquipment" class="button-secondary-dws" (click)="addNewEquipment()">Add to Other Equipment</button>
                        <button *ngIf="updateEquipment" class="button-secondary-dws" (click)="updateEquipmentByID()">Update the Equipment</button>

                      </div>
                    </div>
              </div>

            </div>

            <div class="custom-table">
                <div class="table" *ngIf="loaders.equipmentLoader">
                    <div class="spinner">
                        <div class="double-bounce1"></div>
                        <div class="double-bounce2"></div>
                      </div>
                </div>
              <div class="table makeCenter" *ngIf="!loaders.equipmentLoader && !equipments.length">
                <p>Not Found</p>
              </div>
              <div class="table" *ngIf="equipments && equipments.length && !loaders.equipmentLoader">
                <div class="table-header mBottom25 for-three-columns ">
                  <span>Title</span>
                  <span>Description</span>
                  <span class="makeCenter">Action</span>
                </div>
                <div class="table-body">
                  <div class="table-row mBottom25 for-three-columns " *ngFor="let equipment of equipments">
                    <span [innerHtml]="equipment.EquipmentTitle"></span>
                    <span [innerHtml]="equipment.Description?equipment.Description: '-' "></span>
                    <span class="makeCenter">
                      <div class="editRow" (click)="editRow(equipment,'equipment')"><i class="fa fa-pencil" aria-hidden="true"></i></div>
                      <div class="deleteRow" (click)="openModalWithClass(delete,'equipment',equipment.ID)"><i class="fa fa-trash-o" aria-hidden="true"></i></div>
                    </span>
                  </div>
                </div>
              </div>
            </div>
      </div>
      <div class="row">
          <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="form-group">
              <h3  class="form-heading">Additional Notes</h3>
              <textarea class="form-control custom-textarea" id="additional-notes" [(ngModel)]="Notes"></textarea>
            </div>
          </div>
        </div>
    </div>

  </div>

  <div class="container">
    <div class="call-to-action" [class.disableDiv]="isAdmin">
      <div class="goBack" (click)="goBack()">
        <button>Previous Step</button>
      </div>
      <div class="saveButton" *ngIf="!loading">
        <button (click)="updateEquipmentNotes()">Save</button>
      </div>
      <div class="saveButton disableDiv" *ngIf="loading">
        <button ><i class="fa fa-circle-o-notch fa-spin"></i></button>
      </div>
      <p>Save your Personal Information and Continue to next Step.</p>
    </div>
  </div>

<br>

<ng-template #delete>
  <div class="modal-header">
    <!-- <h4 class="modal-title pull-left">sdfsdf</h4> -->
    <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body delete makeCenter">
    <h3>Are you Sure, You want to delete this entry?</h3>
    <p>You will not be able to restore the item</p>
  </div>


  <div class="round-logo">

    <img src="../../../../assets/icons/warning.png" alt="success icon">
  </div>
  <div class="footer-content alignButton">
      <button type="button" class="btn btn-default custom-modal-button yes-btn" (click)="deleteByID()">Yes</button>
      <button type="button" class="btn btn-default custom-modal-button no-btn" (click)="bsModalRef.hide()">No</button>
    </div>
</ng-template>
