<div class="container makeBgWhite">
    <div class="personal-information">
      <div class="equipment-info-details makeCenter">
        <p class="user-name">Equipment</p>
        <p class="user-description">Please Provide the Correct Information about your Equipment Details</p>
      </div>

      <div class="drones-details">
          <div class="inner-page-header mBottom20 mtop30">
              <div class="row">
                <div class="col-md-6">
                  <h3 class="aperu-regular">Drones</h3>
                </div>
      
                <div class="col-md-6">
                 <button class="primary-dws-button aperu-regular pull-right" (click)="showAddDrone=!showAddDrone">Add Drone</button>
                </div>
              </div>
              <div class="add-drone-details" *ngIf="showAddDrone">
                <div class="seperator"></div>
                  <div class="row add-top-border" >
                      <div class="col-md-4">
                        <div class="form-group">
                          <label for="title" class="custom-input-label">Title</label>
                          <ng-select [(ngModel)]="selectedCarId" [ngModelOptions]="{standalone: true}" [clearable]="false" [searchable]="false">
                            <ng-option *ngFor="let suff of suffix" >{{suff.name}}</ng-option>
                        </ng-select>
                        </div>
                      </div>
            
                      <div class="col-md-4">
                        <div class="form-group">
                          <label for="serialnumber" class="custom-input-label">Serial Number (S/N)</label>
                          <input type="text" class="form-control custom-input" id="serialnumber" aria-describedby="serialnumber"
                            placeholder="Serial Number">
                        </div>
                      </div>
            
                      <div class="col-md-4">
                        <div class="form-group">
                          <label for="Description" class="custom-input-label">Description</label>
                          <input type="text" class="form-control custom-input" id="Description" aria-describedby="Description"
                            placeholder="Description">
                        </div>
                      </div>
                    </div>
            
                    <div class="row">
                      <div class="col-md-12 makeCenter">
                        <button class="button-secondary-dws">Add to Drones</button>
                      </div>
                    </div>
              </div>
            </div>
      
            <div class="custom-table">
              <div class="table">
                <div class="table-header mBottom25 for-four-columns ">
                  <span>Title</span>
                  <span>Description</span>
                  <span>Serial Number(S/N)</span>
                  <span class="makeCenter">Action</span>
                </div>
                <div class="table-body">
                  <div class="table-row mBottom25 for-four-columns " *ngFor="let drone of drones">
                    <span [innerHtml]="drone.title"></span>
                    <span [innerHtml]="drone.description"></span>
                    <span class="karla-bold" [innerHtml]="drone.serial_number"></span>
                    <span class="makeCenter"> 
                      <div class="editRow"><i class="fa fa-pencil" aria-hidden="true"></i></div>
                      <div class="deleteRow"><i class="fa fa-trash-o" aria-hidden="true"></i></div>
                    </span>
                  </div>
                </div>
              </div>
            </div>
      </div>

      <div class="batteries-details">
          <div class="inner-page-header mBottom20 mtop30">
              <div class="row">
                <div class="col-md-6">
                  <h3 class="aperu-regular">Batteries</h3>
                </div>
      
                <div class="col-md-6">
                 <button class="primary-dws-button aperu-regular pull-right" (click)="showAddBattery=!showAddBattery">Add Battery</button>
                </div>
              </div>
              <div class="add-battery-detail" *ngIf="showAddBattery">
                  <div class="seperator"></div>
                  <div class="row add-top-border" >
                      <div class="col-md-6">
                        <div class="form-group">
                          <label for="title" class="custom-input-label">Title</label>
                          <ng-select [(ngModel)]="selectedCarId" [ngModelOptions]="{standalone: true}">
                            <ng-option *ngFor="let suff of suffix" >{{suff.name}}</ng-option>
                        </ng-select>
                        </div>
                      </div>
      
            
                      <div class="col-md-6">
                        <div class="form-group">
                          <label for="Description" class="custom-input-label">Description</label>
                          <input type="text" class="form-control custom-input" id="Description" aria-describedby="Description"
                            placeholder="Description">
                        </div>
                      </div>
                    </div>
            
                    <div class="row">
                      <div class="col-md-12 makeCenter">
                        <button class="button-secondary-dws">Add to Batteries</button>
                      </div>
                    </div>
              </div>

            </div>
      
            <div class="custom-table">
              <div class="table">
                <div class="table-header mBottom25 for-three-columns ">
                  <span>Title</span>
                  <span>Description</span>
                  <span class="makeCenter">Action</span>
                </div>
                <div class="table-body">
                  <div class="table-row mBottom25 for-three-columns " *ngFor="let drone of drones">
                    <span [innerHtml]="drone.title"></span>
                    <span [innerHtml]="drone.description"></span>
                    <span class="makeCenter"> 
                      <div class="editRow"><i class="fa fa-pencil" aria-hidden="true"></i></div>
                      <div class="deleteRow"><i class="fa fa-trash-o" aria-hidden="true"></i></div>
                    </span>
                  </div>
                </div>
              </div>
            </div>
      </div>

      <div class="other-equipment-details">
          <div class="inner-page-header mBottom20 mtop30">
              <div class="row">
                <div class="col-md-6">
                  <h3 class="aperu-regular">Other Equipment</h3>
                </div>
      
                <div class="col-md-6">
                 <button class="primary-dws-button aperu-regular pull-right" (click)="otherEquipment=!otherEquipment">Add Other Equipment</button>
                </div>
              </div>
              <div class="add-battery-detail" *ngIf="otherEquipment">
                  <div class="seperator"></div>
                  <div class="row add-top-border" >
                      <div class="col-md-6">
                        <div class="form-group">
                          <label for="title" class="custom-input-label">Title</label>
                          <ng-select [(ngModel)]="selectedCarId" [ngModelOptions]="{standalone: true}">
                            <ng-option *ngFor="let suff of suffix" >{{suff.name}}</ng-option>
                        </ng-select>
                        </div>
                      </div>
      
            
                      <div class="col-md-6">
                        <div class="form-group">
                          <label for="Description" class="custom-input-label">Description</label>
                          <input type="text" class="form-control custom-input" id="Description" aria-describedby="Description"
                            placeholder="Description">
                        </div>
                      </div>
                    </div>
            
                    <div class="row">
                      <div class="col-md-12 makeCenter">
                        <button class="button-secondary-dws">Add to Other Equipment</button>
                      </div>
                    </div>
              </div>

            </div>
      
            <div class="custom-table">
              <div class="table">
                <div class="table-header mBottom25 for-three-columns ">
                  <span>Title</span>
                  <span>Description</span>
                  <span class="makeCenter">Action</span>
                </div>
                <div class="table-body">
                  <div class="table-row mBottom25 for-three-columns " *ngFor="let drone of drones">
                    <span [innerHtml]="drone.title"></span>
                    <span [innerHtml]="drone.description"></span>
                    <span class="makeCenter"> 
                      <div class="editRow"><i class="fa fa-pencil" aria-hidden="true"></i></div>
                      <div class="deleteRow"><i class="fa fa-trash-o" aria-hidden="true"></i></div>
                    </span>
                  </div>
                </div>
              </div>
            </div>
      </div>
      <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <h3 class="mBottom25 mtop30">Additional Notes</h3>
              <textarea class="form-control custom-textarea" id="additional-notes"></textarea>
            </div>
          </div>
        </div>
    </div>
  
  </div>
  
  <div class="container">
    <div class="call-to-action">
      <div class="goBack">
        <button>Previous Step</button>
      </div>
      <div class="saveButton">
        <button>Save &amp; Continue</button>
      </div>
      <p>Save your Personal Information and Continue to next Step.</p>
    </div>
  </div>
  