

.header input{

}
.header input{
  // background: url("http://kodyrabatowe.wp.pl/img/ico/search_gr.png") top left     no-repeat;
  height: 100px;
  border-style:none;
}
.header{
  background-color: #fff !important;
}

.header img{
  height: 45px;
}

.notification{
  margin-top: 13px;
}

.dropdown button{
  border: 1px solid #e8e8f0;
}

.btn-light {
  color: #29abe2;
}

.notification i {
  color: #d2d0e5;
}
