<div class="topContent makeCenter" >
  <h1 class="pb0">Post a Job</h1>
  <p class="p1">You can post a live job or you can ask for a quote. DWS will then react to your request accordingly.</p>
  <a class="custom-link" href="#">Learn More</a>
</div>



<form [formGroup]="jobInformation">

        <div class="custom-checkbox">
          <label class="container">
            <span class="checkbox-txt">Request a Quote</span>
            <input type="checkbox" formControlName="IsQuote">
            <p class="checkmark mark"></p>
            <p><label class="custom-input-label">Leave it un-checked if you're posting a job which you don't require a quote for.</label></p>
          </label>
        </div>


  <div class="container makeBgWhite mBottom20 pt20" [class.disableDiv]="isAdmin">
    <div class="personal-information">
      <div class="user-personal-info">
        <div class="container">
          <div class="row">
            <div class="col-md-6 col-sm-12 col-xs-12">
              <div class="form-group">
                <label for="firstName" class="custom-input-label">Title of the Job*</label>
                <input type="text" class="form-control custom-input" id="firstName" aria-describedby="firstName"
                  formControlName="JobTitle" placeholder="e.g Cover our corporate event">
                <!-- <div *ngIf="form.Users.controls.FirstName.invalid && (form.Users.controls.FirstName.dirty || form.Users.controls.FirstName.touched)"
                  class="invalid-feedback">
                  <div *ngIf="form.Users.controls.FirstName.errors.required">First Name is required</div>
                </div> -->
              </div>
              <div class="form-group">
                <label for="Industry" class="custom-input-label">Select Industry</label>
                <ng-select class="custom-select1" formControlName="Industry" [searchable]="false">
                  <ng-option *ngFor="let industry of industriesList" [value]="industry.name">{{industry.name}}</ng-option>
                </ng-select><span class="select-iner">Select</span>
                <!-- <div *ngIf="form.Suffix.invalid && (form.Suffix.dirty || form.Suffix.touched)" class="invalid-feedback">
                  <div *ngIf="form.Suffix.errors.required">Suffix is required</div>
                </div> -->
              </div>
            </div>
            <div class="col-md-6 col-sm-12 col-xs-12">
              <div class="form-group">
              <label for="firstName" class="custom-input-label">Additional request/Comments</label>
                <textarea class="form-control custom-textarea" placeholder="Comments" formControlName="Comments"></textarea>
                <!-- <div *ngIf="form.Notes.invalid && (form.Notes.dirty || form.Notes.touched)" class="invalid-feedback">
                  <div *ngIf="form.Notes.errors.required">Notes is required</div>
                </div> -->
              </div>
            </div>

            <div class="col-md-6 col-sm-12 col-xs-12">
              <div class="form-group">
                <label for="lastName" class="custom-input-label">Budget</label>
                <input type="number" class="form-control custom-input" id="lastName" aria-describedby="lastName"
                  formControlName="Budget" placeholder="Enter your budget $">
                <!-- <div *ngIf="form.Users.controls.LastName.invalid && (form.Users.controls.LastName.dirty || form.Users.controls.LastName.touched)"
                  class="invalid-feedback">
                  <div *ngIf="form.Users.controls.LastName.errors.required">Last Name is required</div>
                </div> -->
              </div>
            </div>

            <div class="col-md-6 col-sm-12 col-xs-12">
              <div class="view-wraper">
                  <a class="view-btn" href="#"><img src="../../../assets/icons/box.png" alt="error">View Packages</a>
              </div>
            </div>

            <div class="col-md-6 col-sm-12 col-xs-12">
                <div class="form-group">
                <label for="lastName" class="custom-input-label">Expected Deliverables</label>
                <ng-select class="custom-select1" formControlName="ExpectedDeliverables" [searchable]="true">
                  <ng-option *ngFor="let suff of suffix" [value]="suff.name">{{suff.name}}</ng-option>
                </ng-select><span class="select-iner">Select From pre-established deliverables</span>
                <!-- <div *ngIf="form.Suffix.invalid && (form.Suffix.dirty || form.Suffix.touched)" class="invalid-feedback">
                  <div *ngIf="form.Suffix.errors.required">Suffix is required</div>
                </div> -->
              </div>
            </div>

            <div class="col-md-6 col-sm-12 col-xs-12">
                <div class="form-group">
                  <label for="lastName" class="custom-input-label">Type your own Deliverables (Separated by Commas)</label>
                  <input type="text" class="form-control custom-input" id="lastName" aria-describedby="lastName"
                    formControlName="OwnDeliverables"  (input)="addToTagList(jobInformation.value.OwnDeliverables)">
                  <!-- <div *ngIf="form.Users.controls.LastName.invalid && (form.Users.controls.LastName.dirty || form.Users.controls.LastName.touched)"
                    class="invalid-feedback">
                    <div *ngIf="form.Users.controls.LastName.errors.required">Last Name is required</div>
                  </div> -->
                </div>
      
                <div class="chip" *ngFor="let tags of tagsArray">
                    {{tags}}
                    <!-- <span class="closebtn" onclick="this.parentElement.style.display='none'">&times;</span> -->
                  </div>
              </div>
             
              <div class="col-md-12 col-sm-12 col-xs-12">
                <label for="date" class="custom-input-label">Equipment Preferences</label>
                <div class="row">
                    <div class="inputGroup">
                      <input id="radio1" name="radio" type="radio" [value]="'yes'" [(ngModel)]="IsEquipmentPref" [ngModelOptions]="{standalone: true}"/>
                      <label for="radio1">y</label><span>Yes</span>
                    </div>
                    <div class="inputGroup">
                      <input id="radio2" name="radio" type="radio" [value]="'no'" [(ngModel)]="IsEquipmentPref" [ngModelOptions]="{standalone: true}"/>
                      <label for="radio2">n</label><span>No</span>
                    </div>
                </div>              
              </div>
              <div class="col-md-6 col-sm-12 col-xs-12">
                <div class="form-group mTop15">
                    <textarea class="form-control custom-textarea" *ngIf="IsEquipmentPref=='yes'" placeholder="Type your equipment preferences" formControlName="EquipmentPreferences"></textarea>
                    <!-- <div *ngIf="form.Notes.invalid && (form.Notes.dirty || form.Notes.touched)" class="invalid-feedback">
                      <div *ngIf="form.Notes.errors.required">Notes is required</div>
                    </div> -->
                  </div>
              </div>

              <div class="col-md-12 col-sm-12 col-xs-12">
                <h1 class="form-heading">Date & Time</h1>
                <p>Does job require a Particular date to get the job doneor it can be done within a range of date?</p>
                <div class="row">
                  <div class="inputGroup">
                    <input id="radio3" name="radio1" type="radio" [value]="'particular'" [(ngModel)]="IsParticularDate" [ngModelOptions]="{standalone: true}"/>
                    <label for="radio3" class="p16"></label><span class="mt3">Particular Date</span>
                  </div>
                  <div class="inputGroup">
                    <input id="radio4" name="radio1" type="radio" [value]="'range'" [(ngModel)]="IsParticularDate" [ngModelOptions]="{standalone: true}"/>
                    <label for="radio4" class="p16"></label><span class="mt3">Date Range</span>
                  </div>
                </div>              
              </div>

              <div formGroupName="DateRanges" class="col-md-12 col-sm-12 col-xs-12" *ngIf="IsParticularDate=='particular'">
                <div class="row">
                    <div class="col-md-4 col-sm-12 col-xs-12">
                        <label for="lastName" class="custom-input-label mBottom25">Date*</label>
                        <input placeholder="8/10/2018" formControlName="FromDate" class="form-control custom-input mTop30" #dp1="bsDatepicker" [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY', containerClass: 'custom-datepicker' }" bsDatepicker>
                        <span (click)="setOptions('1')" class="date-icon"><i class="fas fa-calendar-alt"></i></span>
                      </div>
                      <div class="col-md-3 col-sm-6 col-xs-12 blue-txt">
                        <label for="lastName" class="custom-input-label">From</label>
                        <timepicker formControlName="From"></timepicker>
                      </div>
                      <div class="col-md-3 col-sm-6 col-xs-12 blue-txt">
                        <label for="lastName" class="custom-input-label">To</label>
                        <timepicker formControlName="To"></timepicker>
                    </div>
                </div>
              </div>
              
              <div formGroupName="DateRanges" class="col-md-12 col-sm-12 col-xs-12" *ngIf="IsParticularDate=='range'">
                <div class="row">
                    <div class="col-md-4 col-sm-12 col-xs-12">
                        <label for="lastName" class="custom-input-label mBottom25">From Date*</label>
                        <input placeholder="8/10/2018" formControlName="FromDate" class="form-control custom-input mTop30" #dp2="bsDatepicker" [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY', containerClass: 'custom-datepicker' }" bsDatepicker>
                        <span (click)="setOptions('2')" class="date-icon"><i class="fas fa-calendar-alt"></i></span>
                      </div>
                      <div class="col-md-4 col-sm-12 col-xs-12">
                        <label for="lastName" class="custom-input-label mBottom25">To Date*</label>
                        <input placeholder="8/10/2018" formControlName="ToDate" class="form-control custom-input mTop30" #dp3="bsDatepicker" [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY', containerClass: 'custom-datepicker' }" bsDatepicker>
                        <span (click)="setOptions('3')" class="date-icon"><i class="fas fa-calendar-alt"></i></span>
                      </div>
                </div>
              </div>

              <div class="col-md-12 col-sm-12 col-xs-12">
                <h1 class="form-heading">Venue</h1>
              </div>
              <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="form-group">
                  <label for="lastName" class="custom-input-label">Address line 1</label>
                  <input type="text" class="form-control custom-input" placeholder="Enter Address line 1" id="lastName" aria-describedby="lastName"
                    formControlName="AddressLine1">
                  <!-- <div *ngIf="form.Users.controls.LastName.invalid && (form.Users.controls.LastName.dirty || form.Users.controls.LastName.touched)"
                    class="invalid-feedback">
                    <div *ngIf="form.Users.controls.LastName.errors.required">Last Name is required</div>
                  </div> -->
                </div>
              </div>

              
              <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="form-group">
                  <label for="lastName" class="custom-input-label">Address line 2</label>
                  <input type="text" class="form-control custom-input" placeholder="Enter Address line 2" id="lastName" aria-describedby="lastName"
                    formControlName="AddressLine2">
                  <!-- <div *ngIf="form.Users.controls.LastName.invalid && (form.Users.controls.LastName.dirty || form.Users.controls.LastName.touched)"
                    class="invalid-feedback">
                    <div *ngIf="form.Users.controls.LastName.errors.required">Last Name is required</div>
                  </div> -->
                </div>
              </div>

              <div class="col-md-4 col-sm-12 col-xs-12">
                  <div class="form-group">
                  <label for="lastName" class="custom-input-label">Country</label>
                  <ng-select  class="custom-select1" formControlName="Country" [searchable]="true" (change)="getStatesByCode('physical',jobInformation.value.Country, 'change')">
                    <ng-option *ngFor="let country of countriesList" [value]="country.ID">{{country.Name}}</ng-option>
                  </ng-select>
                  <!-- <div *ngIf="form.Suffix.invalid && (form.Suffix.dirty || form.Suffix.touched)" class="invalid-feedback">
                    <div *ngIf="form.Suffix.errors.required">Suffix is required</div>
                  </div> -->
                </div>
              </div>
              <div class="col-md-4 col-sm-12 col-xs-12">
                <div class="form-group">
                  <label for="lastName" class="custom-input-label">City</label>
                  <input type="text" class="form-control custom-input" placeholder="Wilimington" aria-describedby="lastName"
                    formControlName="City">
                  <!-- <div *ngIf="form.Users.controls.LastName.invalid && (form.Users.controls.LastName.dirty || form.Users.controls.LastName.touched)"
                    class="invalid-feedback">
                    <div *ngIf="form.Users.controls.LastName.errors.required">Last Name is required</div>
                  </div> -->
                </div>
              </div>
              <div class="col-md-4 col-sm-12 col-xs-12">
                  <div class="form-group">
                  <label for="State" class="custom-input-label">State</label>
                  <ng-select class="custom-select1" formControlName="State" [searchable]="true">
                    <ng-option *ngFor="let state of regionList" [value]="state.ID">{{state.Name}}</ng-option>
                  </ng-select>
                  <!-- <div *ngIf="form.Suffix.invalid && (form.Suffix.dirty || form.Suffix.touched)" class="invalid-feedback">
                    <div *ngIf="form.Suffix.errors.required">Suffix is required</div>
                  </div> -->
                </div>
              </div>
              <div class="col-md-4 col-sm-6 col-xs-12">
                  <div class="form-group">
                    <label for="Zip" class="custom-input-label">Zip</label>
                    <input type="number" class="form-control custom-input" placeholder="44000" aria-describedby="lastName"
                      formControlName="Zip">
                    <!-- <div *ngIf="form.Users.controls.LastName.invalid && (form.Users.controls.LastName.dirty || form.Users.controls.LastName.touched)"
                      class="invalid-feedback">
                      <div *ngIf="form.Users.controls.LastName.errors.required">Last Name is required</div>
                    </div> -->
                  </div>
                </div>

                <div class="col-md-12 col-sm-12 col-xs-12">
                  <h1 class="form-heading">Contact Details</h1>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="form-group">
                    <label for="lastName" class="custom-input-label">Primary Email</label>
                    <input type="email" formControlName="PrimaryEmail" placeholder="Enter Primary Email" class="form-control custom-input" id="lastName" aria-describedby="lastName">
                    
                    <!-- <div *ngIf="form.Suffix.invalid && (form.Suffix.dirty || form.Suffix.touched)" class="invalid-feedback">
                      <div *ngIf="form.Suffix.errors.required">Suffix is required</div>
                    </div> -->
                  </div>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12">
                </div>     
                
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="form-group">
                    <label for="lastName" class="custom-input-label">Primary Phone</label>
                    <input type="number" formControlName="PrimaryPhone" placeholder="Enter Primary Phone" class="form-control custom-input" id="lastName" aria-describedby="lastName">
                    <!-- <div *ngIf="form.Suffix.invalid && (form.Suffix.dirty || form.Suffix.touched)" class="invalid-feedback">
                      <div *ngIf="form.Suffix.errors.required">Suffix is required</div>
                    </div> -->
                  </div>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="form-group">
                    <label for="lastName" class="custom-input-label">Secondary Phone</label>
                    <input type="number" formControlName="SecondaryPhone" placeholder="Enter Secondary Phone" class="form-control custom-input" id="lastName" aria-describedby="lastName">
                    <!-- <div *ngIf="form.Suffix.invalid && (form.Suffix.dirty || form.Suffix.touched)" class="invalid-feedback">
                      <div *ngIf="form.Suffix.errors.required">Suffix is required</div>
                    </div> -->
                  </div>
                </div>

                <div class="view-wraper">
                    <a class="view-btn" href="#"><img src="../../../assets/icons/plus.png" alt="error">Add a particular Contact Name/Number</a>
                </div>
                <!-- <div class="col-md-12 col-sm-12 col-xs-12">
                  <div class="row">
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="form-group">
                        <label for="name" class="custom-input-label">Name</label>
                        <input type="text" formControlName="ParticularName" placeholder="Enter Name" class="form-control custom-input" id="lastName" aria-describedby="lastName">
                      </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                      <div class="form-group">
                        <label for="number" class="custom-input-label">Number</label>
                        <input type="number" formControlName="ParticularNumber" placeholder="Enter Number" class="form-control custom-input" id="lastName" aria-describedby="lastName">
                      </div>
                    </div>
                  </div>
                </div> -->
          </div>
        </div>
      </div> 
    </div>
  </div>

  <div class="container">
    <div class="row makeCenter">
      <div class="col-md-12 col-sm-12 col-xs-12 mTop100">
          <button class="custom-btn post-btn" *ngIf="!jobInformation.value.IsQuote" (click)="save()">Post this as Live Job</button>
          <button class="custom-btn quote-btn" *ngIf="jobInformation.value.IsQuote" (click)="save()">Post this as Quote</button>
        </div>
      </div>
  </div>
  <div class="bottom-txt">
      <p>Someone from DWS Will get in touch with you
        shortly. Login to DWS Job Portal and manage your
        job better.</p>
  </div>
  
</form>

