@import '../../../../variables';

.profile-picture {
    padding-top: 45px;

  .image-upload>input {
    display: none;
  }

  .image-upload i {
    color: $primary-color;
    //   width: 80px;
    //   cursor: pointer;
    //   box-shadow: 0px 11px 46px 0px rgba(0, 0, 0, 0.18);
    //   width: 39px;
    //   height: 39px;
    //   border-radius: 50%;
  }

  .image-upload {
    position: absolute;
    top: -12px;
    right: -17px;

    label {
      background: $white;
      cursor: pointer;
      box-shadow: 0px 11px 46px 0px rgba(0, 0, 0, 0.18);
      width: 39px;
      height: 39px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
    }
  }

  .displayPicture {
    position: relative;
    display: inline-block;

    img {
      height: 100px;
      border-radius: 28px;
      box-shadow: 0px 11px 46px 0px rgba(0, 0, 0, 0.2)
    }
  }
}
