<div class="container makeBgWhite">
    <div class="personal-information">
      <div class="profile-picture makeCenter">
          <div class="displayPicture">
              <img src="../../../../assets/images/avatar.png" alt="">
              <div class="image-upload">
                  <label for="file-input">
                      <i class="fa fa-pencil" aria-hidden="true"></i>
                  </label>
              
                  <input id="file-input" type="file"/>
              </div>
          </div>
      </div>

      <div class="user-personal-info">

      </div>

    </div>
  
  </div>