<div class="container makeBgWhite">
  <div class="personal-information">
    <div class="profile-details makeCenter">
      <div class="displayPicture">
        <img src="../../../../assets/images/avatar.png" alt="">
        <div class="image-upload">
          <label for="file-input">
            <i class="fa fa-pencil" aria-hidden="true"></i>
          </label>

          <input id="file-input" type="file" />
        </div>
      </div>
      <p class="user-name">Sam Buxton</p>
      <p class="user-id">DWS208189890</p>
      <p class="user-description">You can use DWS Member ID Number as your Login Username also.</p>
    </div>

    <div class="user-personal-info">
      <div class="container">
        <form>
          <div class="row">
            <div class="col-md-4">
              <div class="form-group">
                <label for="firstName" class="custom-input-label">First Name</label>
                <input type="text" class="form-control custom-input" id="firstName" aria-describedby="firstName"
                  placeholder="First Name">
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label for="middleName" class="custom-input-label">Middle Name</label>
                <input type="text" class="form-control custom-input" id="middleName" aria-describedby="middleName"
                  placeholder="Middle Name">
              </div>
            </div>

            <div class="col-md-4">
              <div class="form-group">
                <label for="lastName" class="custom-input-label">last Name</label>
                <input type="text" class="form-control custom-input" id="lastName" aria-describedby="lastName"
                  placeholder="Last Name">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <div class="form-group">
                <label for="firstName" class="custom-input-label">Suffix</label>
                <input type="text" class="form-control custom-input" id="suffix" aria-describedby="suffix" placeholder="Suffix Name">
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label for="date" class="custom-input-label">Date</label>
                <input type="date" class="form-control custom-input" id="date" aria-describedby="data">
              </div>
            </div>

          </div>
        </form>

      </div>
    </div>

    <div class="physical-address">
      <div class="container">
        <h1 class="form-heading">Physical Address</h1>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label for="addressone" class="custom-input-label">Address Line 1</label>
              <input type="text" class="form-control custom-input" id="addressone" aria-describedby="addressone"
                placeholder="Address line 1">
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="addresstwo" class="custom-input-label">Address Line 2</label>
              <input type="text" class="form-control custom-input" id="addresstwo" aria-describedby="addresstwo"
                placeholder="Address line 2">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <div class="form-group">
              <label for="country" class="custom-input-label">Country</label>
              <input type="text" class="form-control custom-input" id="country" aria-describedby="country" placeholder="Country">
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label for="city" class="custom-input-label">City</label>
              <input type="text" class="form-control custom-input" id="city" aria-describedby="city" placeholder="City">
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label for="state" class="custom-input-label">State</label>
              <input type="text" class="form-control custom-input" id="state" aria-describedby="state" placeholder="State">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <div class="form-group">
              <label for="zip" class="custom-input-label">Zip</label>
              <input type="text" class="form-control custom-input" id="zip" aria-describedby="zip" placeholder="zip">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="mailing-address">
            <div class="container">
              <h1 class="form-heading">Mailing Address</h1>
              <div class="row">
                  <div class="col-md-6">
                      <div class="custom-checkbox">
                            <label class="container">Same as Physical Address
                                    <input type="checkbox" checked="checked">
                                    <p class="checkmark"></p>
                                  </label>
                      </div>
                  </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="addressone" class="custom-input-label">Address Line 1</label>
                    <input type="text" class="form-control custom-input" id="addressone" aria-describedby="addressone"
                      placeholder="Address line 1">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="addresstwo" class="custom-input-label">Address Line 2</label>
                    <input type="text" class="form-control custom-input" id="addresstwo" aria-describedby="addresstwo"
                      placeholder="Address line 2">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-4">
                  <div class="form-group">
                    <label for="country" class="custom-input-label">Country</label>
                    <input type="text" class="form-control custom-input" id="country" aria-describedby="country" placeholder="Country">
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label for="city" class="custom-input-label">City</label>
                    <input type="text" class="form-control custom-input" id="city" aria-describedby="city" placeholder="City">
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label for="state" class="custom-input-label">State</label>
                    <input type="text" class="form-control custom-input" id="state" aria-describedby="state" placeholder="State">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-4">
                  <div class="form-group">
                    <label for="zip" class="custom-input-label">Zip</label>
                    <input type="text" class="form-control custom-input" id="zip" aria-describedby="zip" placeholder="zip">
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="other-info">
              <div class="container">
                  <div class="row">
                      <div class="col-md-6">
                            <div class="form-group">
                                    <label for="PrimaryEmail" class="custom-input-label">Primary Email</label>
                                    <input type="email" class="form-control custom-input" id="zip" aria-describedby="PrimaryEmail" placeholder="PrimaryEmail">
                                  </div>
                      </div>
                      <div class="col-md-6">
                            <div class="form-group">
                                    <label for="PrimaryPhone" class="custom-input-label">Primary Phone</label>
                                    <input type="text" class="form-control custom-input" id="PrimaryPhone" aria-describedby="PrimaryPhone" placeholder="PrimaryPhone">
                                  </div>
                      </div>
                  </div>
                  <div class="row">
                        <div class="col-md-6">
                                <div class="form-group">
                                        <label for="general-info" class="custom-input-label">General Information</label>
                                        <textarea class="form-control custom-textarea" id="general-info"></textarea>
                                      </div>
                        </div>
                        <div class="col-md-6">
                                <div class="form-group">
                                        <label for="notes" class="custom-input-label">Notes</label>
                                        <textarea class="form-control custom-textarea" id="notes"></textarea>
                                      </div>
                        </div>
                    </div>
              </div>
          </div>

  </div>

</div>

<div class="container">
    <div class="call-to-action">
        <div class="goBack">
            <button>Previous Step</button>
        </div>
        <div class="saveButton">
            <button>Save &amp; Continue</button>   
        </div>
        <p>Save your Personal Information and Continue to next Step.</p>
    </div>
</div>
