@import '../../../variables';




.profile-main {

  .topContent {

    text-align: center;

    h1 {
      font-family: 'Apercu-Medium';
      padding-top: 100px;
      padding-bottom: 25px;
      font-size: 34px;
    }

    p {
      width: 42%;
      margin: 0 auto;
      font-size: 18px;
      font-family: 'Apercu-Regular';
      padding-bottom: 30px;
      color: $p-color;
    }
  }

  .custom-tabs {
    margin-bottom: 28px;
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    margin: 0 auto;
    ul {
      // display: flex;
      // align-items: center;
      // justify-content: center;
      text-align: center;
      height: 46px;
      padding-right: 25px;
     
      flex: 0 0 auto;
      margin: 0 auto;
      margin-bottom: 39px;
      // margin-bottom: 23px;

      li {
        display: inline-block;
        // margin: 15px;
        // margin-top: 12px;
        // margin: 8px;
        margin: 13px 17px 0px 0px;

        a {
          border: 1px solid $p-color;
          // background-color: rgb(41, 171, 226);
          color: $p-color;
          // padding: 12px 20px 12px 20px;
          padding: 12px 29px 12px 29px;

          border-radius: 21px;
          background: $white;
          font-size: 16px;
          font-family: 'Apercu-Medium';

          &:hover {
            text-decoration: none;
          }
        }
      }
    }

  }

  // @media only screen and (max-width: 1550px){
  //   // .custom-tabs{
  //   //   overflow-x: scroll;
  //   //   overflow-y: hidden;
  //   //   ul{
  //   //     // min-width: 1100px;
  //   //     min-width: 1350px;
  //   //   }
  //   // }
  //   // ::-webkit-scrollbar {
  //   //   height: 6px;
  //   // }
  // }
}


.active-link {
    position: relative;
  background: $primary-color !important;
  border: 1px solid $primary-color !important;
  color: $white !important;
  box-shadow: 0px 8px 33px 0px rgba(41, 171, 226, 0.18);
  &::after {
      position: absolute;
      width: 100%;
    //   left: 38%;
    // right: 0;
    // bottom: -16px;
    display: flex;
    text-align: center;
    justify-content: center;
    content: url('../../../assets/images/down_arrow.svg');

  }
}
