@import '../../../variables';




.profile-main {
    .topContent {
        text-align: center;
    }
    .custom-tabs {
        ul {
            display: flex;
            align-items: center;
            justify-content: center;
            li {
                display: inline-block;
                margin: 15px;
                
                a {
                    background-color: rgb(41, 171, 226);
                    color: #fff;
                    padding: 12px 20px 12px 20px;
                    border-radius: 21px;

                    &:hover {
                        text-decoration: none;
                    }
                }
              }
        }
    
    }
}
