
<div class="profile-main wow fadeInDown">
    <div class="topContent" *ngIf="isAdmin">
            <h1>Review Profile</h1>
            <p>Review Pilots Profie and Let Pilot know if they are missing
                    something important!</p>
    </div>

    <div class="buttons makeCenter" *ngIf="isAdmin">
        <a class="btn-approve profile-buttons" *ngIf="!loaders.approveProfile" (click)="approveProfile()">Approve This Profile</a>
        <a class="btn-approve" *ngIf="loaders.approveProfile" ><i class="fa fa-circle-o-notch fa-spin"></i></a>
        <a class="btn-message profile-buttons">Send a Message</a>
        <a class="btn-reject  profile-buttons" *ngIf="!loaders.rejectProfile"(click)="rejectProfile()">Reject This Profile</a>
        <a  class="btn-reject" *ngIf="loaders.rejectProfile" ><i class="fa fa-circle-o-notch fa-spin"></i></a>

    </div>


            <div class="custom-tabs mTop100">
                    <button  class="BackBtn" (click)="moveBackward()"><i class="fa fa-chevron-left" aria-hidden="true"></i></button>
                    <ul>
                      <li ><a  [routerLink]="['personal-information']" [routerLinkActive]="['active-link']">Personal Information</a></li>
                      <li ><a [routerLink]="['business-information']"  [routerLinkActive]="['active-link']">Business Information</a></li>
                      <li><a  [routerLink]="['equipment']" [routerLinkActive]="['active-link']">Equipment</a></li>
                      <li><a  [routerLink]="['experience-portfolio']" [routerLinkActive]="['active-link']">Experience  &amp; Work Portfolio</a></li>
                      <li><a  [routerLink]="['document-declaration']" [routerLinkActive]="['active-link']">Documents &amp; Declaration</a></li>
                    </ul>
                    <button class="ForwardBtn"  (click)="moveForward()"><i class="fa fa-chevron-right" aria-hidden="true"></i></button>
                  </div>

              <div class="col-md-12 wow fadeInDown">
                  <router-outlet></router-outlet>
              </div>

      </div>



