@import '../../../variables';




.profile-main {

  .topContent {

    text-align: center;

    h1 {
      font-family: 'Apercu-Medium';
      padding-top: 100px;
      padding-bottom: 25px;
      font-size: 34px;
    }

    p {
      width: 42%;
      margin: 0 auto;
      font-size: 18px;
      font-family: 'Apercu-Regular';
      padding-bottom: 30px;
      color: $p-color;
    }
  }

  .custom-tabs {
    margin-bottom: 28px;
    ul {
      display: flex;
      align-items: center;
      justify-content: center;

      li {
        display: inline-block;
        // margin: 15px;
        margin: 8px;

        a {
          border: 1px solid $p-color;
          // background-color: rgb(41, 171, 226);
          color: $p-color;
          padding: 12px 20px 12px 20px;
          border-radius: 21px;
          background: $white;
          font-size: 22 px;

          &:hover {
            text-decoration: none;
          }
        }
      }
    }

  }
}


.active-link {
    position: relative;
  background: $primary-color !important;
  border: 1px solid $primary-color !important;
  color: $white !important;
  box-shadow: 0px 8px 33px 0px rgba(41, 171, 226, 0.18);
  &::after {
      position: absolute;
      width: 100%;
    //   left: 38%;
    // right: 0;
    // bottom: -16px;
    display: flex;
    text-align: center;
    justify-content: center;
    content: url('../../../assets/images/down_arrow.svg');

  }
}
