<div class="container marginAuto">
  <div class="row">
    <div class="col-md-12">
      <section>
        <header>
          <p>Pilots</p>
          <button class="header-chat-btn">Start a new chat</button>
        </header>
        <div class="section-body">
          <div>
            <div class="aside-header-div">
              <input type="text" class="aside-header-input" placeholder="Search Pilot">
              <button type="submit" class="aside-input-search-btn"><i class="fa fa-search"></i></button>
            </div>
            <div  class="aside-body-div">
              <div class="aside-scroll-child">
              <div class="sidebar-image-container">
                <img src="../../../../assets/images/avatar.png" class="sidebar-img">
                <div class="sidebar-img-text">
                  <p>Margaret Soto</p>
                  <p>Survey shows two thirds of..</p>
                </div>
              </div>
              <div class="sidebar-image-container">
                <img  src="../../../../assets/images/avatar.png" class="sidebar-img">
                <div class="sidebar-img-text">
                  <p>Mittie Watson</p>
                  <p>The Trust about hemorrohids</p>
                </div>
              </div>
              <div class="sidebar-image-container">
                <img src="../../../../assets/images/avatar.png" class="sidebar-img">
                <div class="sidebar-img-text">
                  <p>John Doe</p>
                  <p>Hey? What's Up?</p>
                </div>
              </div>
              <div class="sidebar-image-container">
                <img src="../../../../assets/images/avatar.png" class="sidebar-img">
                <div class="sidebar-img-text">
                  <p>Margaret Soto</p>
                  <p>Survey shows two thirds of..</p>
                </div>
              </div>
              <div class="sidebar-image-container">
                <img src="../../../../assets/images/avatar.png" class="sidebar-img">
                <div class="sidebar-img-text">
                  <p>John Doe</p>
                  <p>Hey? What's Up?</p>
                </div>
              </div>
              <div class="sidebar-image-container">
                <img src="../../../../assets/images/avatar.png" class="sidebar-img">
                <div class="sidebar-img-text">
                  <p>Margaret Soto</p>
                  <p>Survey shows two thirds of..</p>
                </div>
              </div>
              <div class="sidebar-image-container">
                <img src="../../../../assets/images/avatar.png" class="sidebar-img">
                <div class="sidebar-img-text">
                  <p>Margaret Soto</p>
                  <p>Survey shows two thirds of..</p>
                </div>
              </div>
              <div class="sidebar-image-container">
                <img src="../../../../assets/images/avatar.png" class="sidebar-img">
                <div class="sidebar-img-text">
                  <p>Margaret Soto</p>
                  <p>Survey shows two thirds of..</p>
                </div>
              </div>
              <div class="sidebar-image-container">
                <img src="../../../../assets/images/avatar.png" class="sidebar-img">
                <div class="sidebar-img-text">
                  <p>Margaret Soto</p>
                  <p>Survey shows two thirds of..</p>
                </div>
              </div>
            </div>
            </div>
          </div>
          <div class="mattie">
            <div class="mattie-header">
              <p class="mattie-heading">Mattie Watson</p>
              <div class="mattie-header-select-container">
                <select class="mattie-header-select">
                  <option>10-Dec 2017</option>
                  <option>20-Dec 2017</option>
                  <option>30-Dec 2017</option>
                </select>
                <i class="fa fa-angle-down"></i>
              </div>
            </div>
            <div class="mattie-body">
              <div class="matti-scroll-container">
                <div class="mattie-scroll-container-div">
                  <div class="matti-image-container">
                    <img src="../../../../assets/images/avatar.png" class="sidebar-img">
                    <div class="mattie-img-text">
                      <p>11:00 am</p>
                      <p>Survey shows two thirds of migraine suffers Dissatisfied</p>
                    </div>
                  </div>
                </div>
                <div class="mattie-scroll-container-div">
                  <div class="matti-image-container">
                    <img src="../../../../assets/images/avatar.png" class="sidebar-img">
                    <div class="mattie-img-text">
                      <p>11:00 am</p>
                      <p>Survey shows two thirds of migraine suffers Dissatisfied</p>
                    </div>
                  </div>
                </div>
                <div class="mattie-scroll-container-div">
                  <div class="john-image-container">
                    <img src="../../../../assets/images/avatar.png" class="sidebar-img john-img">
                    <div class="mattie-img-text">
                      <p>11:00 am</p>
                      <p>Survey shows two thirds of migraine suffers Dissatisfied</p>
                    </div>
                  </div>
                </div>
                <div class="mattie-scroll-container-div">
                  <div class="john-image-container">
                    <img src="../../../../assets/images/avatar.png" class="sidebar-img john-img">
                    <div class="mattie-img-text">
                      <p>11:00 am</p>
                      <p>Vitamin B A Complex Mix</p>
                    </div>
                  </div>
                </div>
                <div class="mattie-scroll-container-div">
                  <div class="matti-image-container">
                    <img src="../../../../assets/images/avatar.png" class="sidebar-img">
                    <div class="mattie-img-text">
                      <p>11:00 am</p>
                      <p>Survey shows two thirds of migraine suffers Dissatisfied</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="matti-body-input-div">
            <input type="text" class="matti-body-input" placeholder="Type your message here">
            <button class="matti-body-input-btn"><i class="fa fa-paper-plane"></i></button>
          </div>
        </div>
      </section>

    </div>
  </div>
</div>




