@media only screen and (max-width: 1680px) {
    div.inner-header {
        nav.custom-navbar {
            grid-template-columns: 50% 50%;
        }
    }
  .profile-buttons{
    margin: 20px;
  }
  }
  @media only screen and (max-width: 1500px) {
    div.custom-tabs {
        button {
            display: block !important;
        }
    }

  }
@media (max-width: 1330px) {
  .table-div{
    width: 1170px;
  }
}
  @media only screen and (max-width: 1150px) {
    div.inner-header {
        nav.custom-navbar {
            grid-template-columns: 30% 70%;
        }
    }

}
@media only screen and (max-width: 1024px) {
    div.custom-table  {
        div.table {
            padding: 30px;
            max-height: 280px !important;
            overflow-y: scroll !important;
        }

        div.table-body {
            overflow-y: unset !important;
            max-height: inherit!important;
        }


    }
  .profile-buttons{
    margin: 15px 90px;
    display: block;
  }
  div.command-center{
    div.row{
      display: block!important;
    }
  }
}

@media only screen and (max-width: 940px){
  div.command-center  {
    div.inputs-container1{
      grid-template-columns: none;
    }
    div.filter-button-div{
      .filter-btn{
        width: 100%;
      }
    }
  }

}


@media only screen and (max-width:900px){
    div.inner-header {
        nav.custom-navbar {
            grid-template-columns:100%;
        }

        .search-bar {
            display: none;
        }
    }
  .profile-buttons{
    display: block;
    margin: 15px 100px;
  }
}


  @media only screen and (max-width:768px){

    div.call-to-action  {

        display: block;
        text-align: center;

        div.goBack {
            margin-bottom: 20px;
        }
        div.saveButton {
            margin: 0;
        }

        p {
            width: 100% !important;
        }
    }
    .topContent{
      p{
        width: 100% !important;
      }
    }

    div.notification {
        div.dropdown-menu-right {
            right: auto;
            left: auto;
        }
        div.notification-dropdown {
            min-width: 273px !important;
            }    }

    div.messages {
        div.dropdown-menu-right {
            right: auto;
            left: auto;
        }
        div.notification-dropdown {
            min-width: 273px !important;
        }
    }
    .navbar-toggle .icon-bar {
        width: 22px;
        transition: all 0.2s;
   }
    .navbar-toggle .top-bar {
        transform: rotate(45deg);
        transform-origin: 10% 10%;
   }
    .navbar-toggle .middle-bar {
        opacity: 0;
   }
    .navbar-toggle .bottom-bar {
        transform: rotate(-45deg);
        transform-origin: 10% 90%;
   }
    .navbar-toggle.collapsed .top-bar {
        transform: rotate(0);
   }
    .navbar-toggle.collapsed .middle-bar {
        opacity: 1;
   }
    .navbar-toggle.collapsed .bottom-bar {
        transform: rotate(0);
   }
    .mynav .navbar-toggle{
        background: none !important;
        border: 0 !important;
   }
    .mynav .icon-bar{
        background: #28ABE2 !important;
        margin-top: 10px;
   }
    .navbar-default .navbar-collapse, .navbar-default .navbar-form{
        border:0 !important;
   }
    .mynav .navbar-right .dropdown-menu{
        width: inherit !important;
   }
    .mynav .navbar-right li a{
        text-align: center;
   }
    .menu-white-box{
        height: 140px;
   }
    .logo{
        margin-left: 15px;
        height: 65px;
   }
    div.topContent p{
      width: 100%;
      padding-bottom: 0;
    }
    .command-center{
       .inputs-field[_ngcontent-c5] {
         .custom-primary-button{
           width: 100%;
           margin: 0!important;
         }
       }
    }

}
@media only screen and (max-width:480px){
    div.rightContent {
        justify-content: center !important;
        div.dropdown-details {
            button.toggler {

                margin-left: 9px !important;

            }
        }

        div.main-notification {
            div.notification,div.messages {
                margin-right: 19px !important;
            }
        }

        div.profile-section {
            .detail {
                margin-left: 11px !important;

                .user-name {
                    font-size: 14px !important;
                }
            }
        }
    }
    div.notification {
        div.dropdown-menu-right {
            right: auto;
            left: auto;
        }
        div.notification-dropdown {
            min-width: 233px !important;
            left: -18px;
            }    }

    div.messages {
        div.dropdown-menu-right {
            right: auto;
            left: auto;
        }
        div.notification-dropdown {
            min-width: 233px !important;
            left: -18px;
        }
    }
  .form-sign-up{
    padding: 22px 15px;
    h2,h4{
      text-align: center;
    }
  }

  .profile-buttons{
    display: block;
    margin: 15px 55px;
    padding: 15px !important;
  }
  .main-div{
    padding: 30px!important;
  }
}

@media screen and (max-width: 330px){
  div.entries-selector{
    .selector-input-container{
      padding: 9px 11px 9px 17px;
      select.selector-input{
        width: auto;
        height: auto;
    }
    }
  }
  div.buttons
  {
    a.profile-buttons{
      display: block;
      padding:10px !important;
      margin: 15px 43px;
    }
  }
  .login-form .main-div{
    padding: 20px!important;
  }
}
