@media only screen and (max-width: 1680px) {
    div.inner-header {
        nav.custom-navbar {
            grid-template-columns: 50% 50%;
        }
    }

  }
  @media only screen and (max-width: 1500px) {
    div.custom-tabs {
        button {
            display: block !important;
        }
    }

  }



  @media only screen and (max-width: 1150px) {
    div.inner-header {
        nav.custom-navbar {
            grid-template-columns: 30% 70%;
        }
    }

}
@media only screen and (max-width: 1024px) {
    div.custom-table  {
        div.table {
            padding: 30px;
            max-height: 280px !important;
            overflow-y: scroll !important;
        }

        div.table-body {
            overflow-y: unset !important;
            max-height: inherit!important;
        }

    }

}
@media only screen and (max-width:900px){
    div.inner-header {
        nav.custom-navbar {
            grid-template-columns:100%;
        }

        .search-bar {
            display: none;
        }
    }
}
  @media only screen and (max-width:768px){

    div.call-to-action  {
        
        display: block;
        text-align: center;

        div.goBack {
            margin-bottom: 20px;
        }
        div.saveButton {
            margin: 0;
        }

        p {
            width: 100%;
        }
    }

    div.notification {
        div.dropdown-menu-right {
            right: auto;
            left: auto;
        }
        div.notification-dropdown {
            min-width: 273px !important;
            }    }

    div.messages {
        div.dropdown-menu-right {
            right: auto;
            left: auto;
        }
        div.notification-dropdown {
            min-width: 273px !important;
        }
    }
    .navbar-toggle .icon-bar {
        width: 22px;
        transition: all 0.2s;
   }
    .navbar-toggle .top-bar {
        transform: rotate(45deg);
        transform-origin: 10% 10%;
   }
    .navbar-toggle .middle-bar {
        opacity: 0;
   }
    .navbar-toggle .bottom-bar {
        transform: rotate(-45deg);
        transform-origin: 10% 90%;
   }
    .navbar-toggle.collapsed .top-bar {
        transform: rotate(0);
   }
    .navbar-toggle.collapsed .middle-bar {
        opacity: 1;
   }
    .navbar-toggle.collapsed .bottom-bar {
        transform: rotate(0);
   }
    .mynav .navbar-toggle{
        background: none !important;
        border: 0 !important;
   }
    .mynav .icon-bar{
        background: #28ABE2 !important;
        margin-top: 10px;
   }
    .navbar-default .navbar-collapse, .navbar-default .navbar-form{
        border:0 !important;
   }
    .mynav .navbar-right .dropdown-menu{
        width: inherit !important;
   }
    .mynav .navbar-right li a{
        text-align: center;
   }
    .menu-white-box{
        height: 140px;
   }
    .logo{
        margin-left: 15px;
        height: 65px;
   }
    
}
@media only screen and (max-width:480px){
    div.rightContent {
        justify-content: center !important;
        div.dropdown-details {
            button.toggler {
    
                margin-left: 9px !important;
     
            }
        }

        div.main-notification {
            div.notification,div.messages {
                margin-right: 19px !important;
            }
        }

        div.profile-section {
            .detail {
                margin-left: 11px !important;

                .user-name {
                    font-size: 14px !important;
                }
            }
        }
    }
    div.notification {
        div.dropdown-menu-right {
            right: auto;
            left: auto;
        }
        div.notification-dropdown {
            min-width: 233px !important;
            left: -18px;
            }    }

    div.messages {
        div.dropdown-menu-right {
            right: auto;
            left: auto;
        }
        div.notification-dropdown {
            min-width: 233px !important;
            left: -18px;
        }
    }
}
