<div class="container makeBgWhite">
    <div class="personal-information">
      <div class="document-declaration-details makeCenter">
        <p class="user-name">Documents &amp; Declaration</p>
        <p class="user-description"> Please upload the following documents and agree to the declaration below</p>
      </div>
  
      <div class="user-personal-info">
        <div class="container">

          <div class="row">
              <div class="col-md-6 col-sm-12 col-xs-12">
                  <label for="Veteran" class="custom-input-label">Veteran?</label>
                  <div class="custom-radio">
                    <label class="container">Yes
                      <input type="radio" name="Veteran">
                      <span class="checkmark"></span>
                    </label>
      
                    <label class="container">No
                      <input type="radio" name="Veteran">
                      <span class="checkmark"></span>
                    </label>
                  </div>
                </div>
          </div>
          <div class="row">
              <div class="col-md-6 col-sm-12 col-xs-12">
                  <label for="LiabilityInsurance" class="custom-input-label">Do you have aviation liability insurance?</label>
                  <div class="custom-radio">
                    <label class="container">Yes
                      <input type="radio" name="LiabilityInsurance" value="1" [(ngModel)]="isLiabilityInsurance" [ngModelOptions]="{standalone: true}" >
                      <span class="checkmark"></span>
                    </label>
      
                    <label class="container">No
                      <input type="radio" name="LiabilityInsurance"  value="0" [(ngModel)]="isLiabilityInsurance" [ngModelOptions]="{standalone: true}" >
                      <span class="checkmark"></span>
                    </label>
                  </div>
                </div>
          </div>
  
          <div class="row justify-content-center" *ngIf="isLiabilityInsurance=='1'">
            <div class="col-md-6 col-sm-12 col-xs-12">
                <label for="liabilityAvaition" class="custom-input-label hide-overflow">Upload a PDF copy of your aviation liability insurance certificate </label>
              <div class="pdf-uploader">
                <img src="../../../../assets/images/pdf-file.svg" alt="">
                <div class="image-upload">
                  <label for="file-input">
                    <i class="fa fa-pencil" aria-hidden="true"></i>
                  </label>
  
                  <input id="file-input" type="file" />
                </div>
              </div>
              <p class="aperu-mono mTop15 makeRed">file.pdf</p>
            </div>
            <div class="col-md-6 col-sm-12 col-xs-12">
                <label for="insuranceCertificate" class="custom-input-label hide-overflow">Upload a PDF copy of your
                    aviation liability insurance certificate with Drone Workforce Solutions listed as an additional insured</label>

              <div class="pdf-uploader">
                <img src="../../../../assets/images/pdf-file.svg" alt="">
                <div class="image-upload">
                  <label for="file-input">
                    <i class="fa fa-pencil" aria-hidden="true"></i>
                  </label>
  
                  <input id="file-input" type="file" />
                </div>
  
              </div>
              <p class="aperu-mono mTop15 makeRed">file.pdf</p>
            </div>
          </div>
            <div class="row">
                    
                <div class="col-md-6 col-sm-12 col-xs-12">
                    <label for="passportImage" class="custom-input-label">Driver’s License (upload a photo or scan of your driver’s license if required by DWS).</label>
                  <div class="passportImage">
                    <img src="../../../../assets/images/image-placeholder.png" alt="">
                    <div class="image-upload">
                      <label for="file-input">
                        <i class="fa fa-pencil" aria-hidden="true"></i>
                      </label>
      
                      <input id="file-input" type="file" />
                    </div>
                  </div>
                </div>
              </div>
              <div class="row justify-content-center mtop30">
                  <div class="col-md-6 col-sm-12 col-xs-12">
                      <label for="insuranceCertificate" class="custom-input-label hide-overflow">Upload a photo or scan of your remote pilot certificate.</label>
                    <div class="image-uploader">
                      <img src="../../../../assets/images/photo-camera.svg" alt="">
                      <div class="image-upload">
                        <label for="file-input">
                          <i class="fa fa-pencil" aria-hidden="true"></i>
                        </label>
        
                        <input id="file-input" type="file" />
                      </div>
                    </div>
                    <p class="aperu-mono mTop15 makeRed">file.png</p>
                  </div>
                  <div class="col-md-6 col-sm-12 col-xs-12">
                      <label for="liabilityAvaition" class="custom-input-label hide-overflow">Upload a PDF copy of your most recent recurrent exam result (if applicable)</label>
                    <div class="pdf-uploader">
                      <img src="../../../../assets/images/pdf-file.svg" alt="">
                      <div class="image-upload">
                        <label for="file-input">
                          <i class="fa fa-pencil" aria-hidden="true"></i>
                        </label>
        
                        <input id="file-input" type="file" />
                      </div>
        
                    </div>
                    <p class="aperu-mono mTop15 makeRed">file.pdf</p>
                  </div>
                </div>

              <div class="row">
                  <div class="col-md-12 col-sm-12 col-xs-12">
                      <div class="form-group">
                        <label for="businessType" class="custom-input-label mtop30">Waivers Currently Held</label>
                        <ng-select [(ngModel)]="selectedCarId" [ngModelOptions]="{standalone: true}" [searchable]="false" [multiple]="true" class="custom-ngselect">
                          <ng-option *ngFor="let suff of suffix">{{suff.name}}</ng-option>
                        </ng-select>
                      </div>
                    </div>
              </div>

              <div class="row">
                  <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="form-group">
                      <h3  class="form-heading">Additional Notes</h3>
                      <textarea class="form-control custom-textarea" id="additional-notes"></textarea>
                    </div>
                  </div>
                </div>
                <div class="row docs-dec">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                      <div class="form-group">
                        <h3 class="mBottom25 mtop30">Declaration &amp; Certification</h3>
                        <p>I have completed and submitted the information as requested by Drone Workforce Solutions, LLC and hereby certify that the information contained herein and all attachments submitted are true, correct and accurate to the best of my knowledge and belief. I understand that this Declaration and Certification has been established by Drone Workforce Solutions, LLC. I further understand that completion and submission of this application, together with all attachments hereto, is not necessarily the sole criteria for determining certification to work with Drone Workforce Solutions, LLC, and no promises have been made for obtaining work from Drone Workforce Solutions.</p>
                        <p>I acknowledge that if Drone Workforce Solutions, LLC discovers that a statement has been made or information submitted has been provided which the applicant knows to be false, the certification process will be terminated immediately. I agree that all materials submitted with this application shall become the property of Drone Workforce Solutions, LLC.</p>
                        <p>I also agree that once certified and validated, the continued certification and validation will be according to the guidelines, rules, procedures and regulations of Drone Workforce Solutions, LLC and may be amended from time to time. Termination of your status with our company may be based upon, but not necessarily limited to, discovery that any false information was knowingly supplied to Drone Workforce Solutions, LLC in the completion of this application or as contained in any attachments submitted.</p>
                        <p>I also agree to take an initial and random substance abuse, including drugs, tests, if required, by Drone Workforce Solutions, LLC.</p>
                        <p>I also agree and acknowledge that Drone Workforce Solutions, LLC may do a criminal background check on me, especially if required by the customers of Drone Workforce Solutions, LLC.</p>
                        <p>The results of that information will not necessarily prevent me from working for Drone Workforce Solutions, LLC.</p>
                        <p>The decision to employ me is solely determined by Drone Workforce Solutions, LLC on a case by case basis.</p>
                      </div>
                    </div>
                  </div>
                  <div class="row achievement-dec">
                      <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="form-group">
                          <h3 class="mBottom25 mtop30">Achievement</h3>
                          <p>By clicking this box I acknowledge and agree that I have carefully reviewed the list of required materials, documentation and information I have provided to Drone Workforce Solutions, LLC, and the materials, documentation and information submitted and required is true and correct.</p>
                          <p>I also acknowledge and agree that I have carefully reviewed and agree to the <a class="makePink"> Drone Workforce Solutions, LLC Privacy Policy .</a></p>
                          <p>I also acknowledge and agree that I have carefully reviewed and agree to the <a class="makePink">Drone Workforce Solutions, LLC Terms and 
                              Conditions Policy .</a> </p>
                              <p>I also acknowledge and agree that by not submitting all of the required information and documentation will cause delays in processing my application.</p>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-sm-12 col-xs-12">
                          <div class="custom-checkbox">
                            <label class="container">Agreed
                              <input type="checkbox">
                              <p class="checkmark"></p>
                            </label>
                          </div>
                        </div>
                      </div>
  
        </div>
      </div>

  
    </div>
  
  </div>
  
  <div class="container">
    <div class="call-to-action">
      <div class="goBack">
        <button>Previous Step</button>
      </div>
      <div class="saveButton">
        <button>Save</button>
      </div>
      <p>Save your Personal Information and Continue to next Step.</p>
    </div>
  </div>
  