@import '../../../../variables';

div.command-center {
    .custom-datatable{
        tr {
            background: transparent;

            th {
                color: $primary-color;
                font-family: 'Apercu-Medium';
                font-size: 14px;
            }
            th,td{
                 border:0;
            }

            td {
                color: $table-row-color;
                font-family: 'Apercu-Regular';
                font-size: 14px;

                .details-btn {
                    background: $delete-icon-color;
                    color: $white;
                    box-shadow: 0px 13px 23px 0px rgba(252, 87, 87, 0.2);
                    border-radius: 15px;
                    width: 72px;
                    height: 31px;
                    padding: 6px 10px 6px 10px;
                }
            }

            &:hover {
                background: transparent;
            }
        }
    }

}
.inputs-container1{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  align-items: end;
  grid-gap: 2%;
  margin: 0;
}
.main-div{
  overflow-x:auto;
  white-space: nowrap;

}

.table-div{
  display: grid;
  grid-template-rows: repeat(2,auto);
  background: white;
  padding:5px 21px;
  grid-gap: 10px;
  border: 2px solid $modal-border;
  height: 600px;



  .table-body{

    overflow: auto;
    &::-webkit-scrollbar{
      width: 7px;
      background: $table-scroll;
    }
    &::-webkit-scrollbar-thumb{
      width: 100%;
      background: $table-heading;
    }
  }
  .table-heading-row{
    padding-right:37px;
    &>:last-child{
      text-align: center;
    }
  }
  .table-body-rows{
    cursor: pointer;
    color: $p-color;
    &:hover{
      background: $table-row-hover;
    }
  }
  .table-rows{
    display: grid;
    height: 65px;
    grid-template-columns: 13% 11% 9% 10% 9% 8% 11% ;
    justify-content: space-between;
    align-items: center;
    padding:2px 10px;
    border-radius: 5px;
    margin-right: 20px;
    div{
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    .action {
      height: 65px;
      line-height: 65px;
    }
  }
  .table-heading{
    color: $table-heading;
  }
}
.detail-btn{
  padding: 9px 18px;
  background: $details-btn;
  border: none;
  border-radius: 20px;
  outline: none;
  color: white;
}
.entries-selector{
  display: grid;
  height: 100px;
  grid-template-columns: auto auto;
  justify-content: left;
  align-content: center;
  grid-gap: 17px;
}
.show-entries-p{
  margin: 0;
  padding: 10px 0;
}
.selector-input-container{
  background: white;
  border-radius: 25px;
  padding: 7px 24px;
}
.selector-input{
  width: 55px;
  height: 31px;
  border-radius: 20px;
  border: none;
  outline: none;
  background: white;
  -webkit-appearance: menulist-button;
}
.input-city{
  padding: 0 18px;
  height: 56px;
}
.filter-btn{
  position: inherit;
  margin-bottom: 16px;
 margin-left: 0;
  height: 56px;
}
.custom-tabs {
  margin-bottom: 28px;
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  margin: 0 auto;
  margin-top: 0;
  ul {
    // display: flex;
    // align-items: center;
    // justify-content: center;
    text-align: center;
    height: 46px;
    padding-right: 25px;

    flex: 0 0 auto;
    margin: 0 auto;
    margin-bottom: 39px;
    // margin-bottom: 23px;

    li {
      display: inline-block;
      // margin: 15px;
      // margin-top: 12px;
      // margin: 8px;
      margin: 13px 17px 0px 0px;

      a {
        border: 1px solid $p-color;
        // background-color: rgb(41, 171, 226);
        color: $p-color;
        // padding: 12px 20px 12px 20px;
        padding: 12px 29px 12px 29px;

        border-radius: 21px;
        background: $white;
        font-size: 16px;
        font-family: 'Apercu-Medium';

        &:hover {
          text-decoration: none;
        }
      }
    }
  }

}

@media only screen and (max-width: 940px){
  .inputs-container1{
    grid-template-columns: none;
  }
}

