@import '../../../../variables';

div.command-center {
    .custom-datatable{
        tr {
            background: transparent;

            th {
                color: $primary-color;
                font-family: 'Apercu-Medium';
                font-size: 14px;
            }
            th,td{
                 border:0;
            }

            td {
                color: $table-row-color;
                font-family: 'Apercu-Regular';
                font-size: 14px;

                .details-btn {
                    background: $delete-icon-color;
                    color: $white;
                    box-shadow: 0px 13px 23px 0px rgba(252, 87, 87, 0.2);
                    border-radius: 15px;
                    width: 72px;
                    height: 31px;
                    padding: 6px 10px 6px 10px;
                }
            }

            &:hover {
                background: transparent;
            }
        }
    }

}
.main-div{
  overflow-x:auto;
  white-space: nowrap;

}

.table-div{
  display: grid;
  grid-template-rows: repeat(2,auto);
  background: white;
  padding:5px 21px;
  grid-gap: 10px;
  border: 2px solid $modal-border;



  .table-body{
    display: grid;
    grid-template-rows: repeat(30,auto);
    height: 630px;
    overflow: auto;
    &::-webkit-scrollbar{
      width: 7px;
      background: $table-scroll;
    }
    &::-webkit-scrollbar-thumb{
      width: 100%;
      background: $table-heading;
    }
  }
  .table-head{
    display: grid;
    grid-template-columns: 10% 15% 10% 9% 10% 12% 11%;
    justify-content: space-between;
    align-items: center;
    grid-gap: 1%;
    align-content: center;
    padding: 10px;

  }
  .table-body-row{
    display: grid;
    grid-template-columns: 13% 18% 14% 12% 13% 12% 12%;
    justify-content: space-between;
    align-items: center;
    padding:15px 10px;
    border-radius: 5px;
    margin-right: 20px;
    cursor: pointer;
    color: $p-color;
    &:hover{
      background: $table-row-hover;
    }
  }
  .table-heading{
    color: $table-heading;
  }
  .detail-btn{
    padding: 9px 18px;
    background: $details-btn;
    border: none;
    border-radius: 20px;
    outline: none;
    color: white;
  }
}
@media (max-width: 1330px) {
  .table-div{
    width: 1170px;
  }
}
