

    <div class="container">
      <div class="topContent">
               <h1>Pilots</h1>
               <p>See where all of the DWS registered drones are..</p>
       </div>

       <div class="command-center">
         <div class="row">
           <div class="col-md-4">
               <div class="form-group">
                   <label for="state" class="custom-input-label makeBlack">Search Pilot by</label>
                   <ng-select [searchable]="false">
                         <ng-option *ngFor="let suff of suffix" >{{suff.name}}</ng-option>
                     </ng-select>
                     <!-- <div *ngIf="form.m1State.invalid && (form.m1State.dirty || form.m1State.touched)" class="invalid-feedback">
                       <div *ngIf="form.m1State.errors.required">State is required</div>
                   </div> -->
                 </div>

           </div>
           <div class="col-md-4">

               <div class="form-group">
                   <input type="text" class="form-control custom-input alignToBottom" id="city" aria-describedby="city"
                     placeholder="City Name">
                 </div>
           </div>
           <div class="col-md-4">
             <button class="custom-primary-button">Filter</button>
           </div>
         </div>

         <div class="row">
           <div class="col-md-12">
<!--
            <table datatable [dtOptions]="dtOptions" class="row-border hover custom-datatable">
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Email</th>
                  <th>Phone</th>
                  <th>Country</th>
                  <th>State</th>
                  <th>City</th>
                  <th>Status</th>
                  <th>Action</th>

                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let list of pilotList">
                  <td>{{list.Users.FirstName+' '+list.Users.LastName}}</td>
                  <td>{{list.Users.Email}}</td>
                  <td>{{list.PrimaryPhone}}</td>
                  <td>{{list.Country.Name}}</td>
                  <td>{{list.State.Name}}</td>
                  <td>{{list.PhysicallCity}}</td>
                  <td>{{list.ProfileApproved=='1'? 'Approved': 'Blocked'}}</td>
                  <td><a [routerLink]="['/admin/profile',list.UserId]" class="details-btn">Details</a></td>
                </tr>
              </tbody>
            </table> -->
             <div class="main-div">
             <div class="table-div">
               <div class="table-rows table-heading-row">

                 <div class="table-heading">Name</div>
                 <div class="table-heading">Email</div>
                 <div class="table-heading">Phone</div>
                 <div class="table-heading">Country</div>
                 <div class="table-heading">State</div>
                 <div class="table-heading">City</div>
                 <!-- <div class="table-heading">Status</div> -->
                 <div class="table-heading">Action</div>
               </div>
               <div class="table-body">
               <div class="table-rows table-body-rows" *ngFor="let list of pilotList">
                  <div>{{list.Users.FirstName+' '+list.Users.LastName}}</div>
                  <div>{{list.Users.Email}}</div>
                  <div>{{list.PrimaryPhone}}</div>
                  <div>{{list.Country.Name}}</div>
                  <div>{{list.State.Name}}</div>
                  <div>{{list.PhysicallCity}}</div>
                  <!-- <div>{{list.ProfileApproved=='1'? 'Approved': 'Blocked'}}</div> -->
                  <div class="action"><a [routerLink]="['/admin/profile',list.UserId]" class="detail-btn">Details</a></div>
               </div>
               </div>
             </div>
           </div>
             <div class="entries-selector">
               <p class="show-entries-p">Show entries per page</p>
               <div class="selector-input-container">
                 <input class="selector-input" type="number" value="10" min="0">
               </div>
             </div>
           </div>
         </div>
         <!-- <div class="custom-table">

        <div class="table" *ngIf="pilotList && pilotList.length">
          <div class="table-header mBottom25 for-seven-columns ">
            <span>Name</span>
            <span>Email</span>
            <span>Phone</span>
            <span>Country</span>
            <span>State</span>
            <span>City</span>
            <span>Action</span>

          </div>
          <div class="table-body">
            <div class="table-row mBottom25 for-seven-columns " *ngFor="let list of pilotList">
              <span>{{list.Users.FirstName+' '+list.Users.LastName}}</span>
                  <span>{{list.Users.Email}}</span>
                  <span>{{list.PrimaryPhone}}</span>
                  <span>{{list.PhysicallCountry}}</span>
                  <span>{{list.PhysicallState}}</span>
                  <span>{{list.PhysicallCity}}</span>
                  <span><a class="details-btn">Details</a></span>
            </div>
          </div>
        </div>
      </div> -->

       </div>
       </div>
