<div class="about-banner dws-pilot-banner pilot-banner">
	<div class="about-banner">
		<img src="../../../assets/images/About.jpg" style="width: 100%;" class="fr-fic fr-dii">
		<div class="centered">
		<h1 class="wow fadeInDown">LOGIN AS A {{type}}</h1>
		</div>
	</div>
</div>
<div class="sign-up" >
        <div class=" container">
           <div class="row">
              <div class="col-md-8 col-sm-12 col-xs-12 marginAuto">
                 <div class="form-sign-up">
                    <h2 class="wow fadeInDown">Login</h2>
                    <h4 class="wow fadeInDown">Login to your account.</h4>
                    <br>
                    <hr>
                    <br>

                      <form id="loginForm" [formGroup]="loginForm">
                       <div class="row">
                          <div class="col-sm-12 col-md-12">
                             <div class="form-group wow fadeInDown">
                                <label for="email" >Username</label>
                                <input type="text" id="firstname" class="form-control" placeholder="Please enter your email/member id" formControlName="Email">
                                <div *ngIf="form.Email.invalid && (form.Email.dirty || form.Email.touched)" class="invalid-feedback">
                                    <div *ngIf="form.Email.errors.required">Email is required</div>
                                    <div *ngIf="form.Email.errors.email">Email must be a valid email address</div>
                                </div>
                             </div>
                          </div>
                          <div class="col-sm-12 col-md-12">
                             <div class="form-group wow fadeInDown">
                                <label for="email">Password</label>
                                <input type="password" id="lastname" class="form-control"  placeholder="Password" formControlName="Password" >
                                <div *ngIf="form.Password.invalid && (form.Password.dirty || form.Password.touched)" class="invalid-feedback">
                                    <div *ngIf="form.Password.errors.required">Password is required</div>
                                </div>
                             </div>
                          </div>
                         <div class="col-md-6">
                           <div class="custom-checkbox">
                             <label class="container">Remember me

                               <input type="checkbox"[(ngModel)]="rememberMe" [ngModelOptions]="{standalone: true}">
                               <p class="checkmark checkbox"></p>

                             </label>
                           </div>
                         </div>
                         <div class="col-md-6 text-align-right text-color-blue">
                            <a [routerLink]="['/send-email']">Forgot Password?</a>

                         </div>

                       </div>
                       <div class="form-group wow fadeInDown">
                        <p *ngIf="error" class="errorMessage">{{error}}</p>
                        <p *ngIf="success" class="successMessage">{{success}}</p>
                    </div>

                       <button type="submit" id="submitLoginForm" *ngIf="!loading"class="btn btn-sign-up mt20 wow fadeInDown" (click)="login()">SIGN IN</button>
                       <a class="btn btn-sign-up mt20 wow fadeInDown loaderBtn"  *ngIf="loading"><i class="fa fa-circle-o-notch fa-spin"></i></a>
                    </form>
                    <p class="makeCenter">Don't have an account?
                        <a *ngIf="type=='pilot'"[routerLink]="['/signuppilot']">signup</a>
                        <a *ngIf="type=='customer'"[routerLink]="['/signupcustomer']">signup</a>
                      </p>
                 </div>
              </div>
              <!-- col-8 -->
           </div>
           <!-- row -->
        </div>
        <!-- container -->
     </div>
     <how-it-works></how-it-works>
