@import "../../../variables";
.sign-up{
    background: #EFF3F6;
    padding-bottom: 100px;
    padding-top: 100px;
  font-family: 'RobotoCondensed-light' !important;
  font-weight: bolder;
}
.form-sign-up{
    background: #fff;
    padding: 30px 40px;
    padding-bottom: 80px;
}
.form-sign-up h2{
    color: #3EBAD0;
    font-size: 33px;
    text-transform: uppercase;
}
.form-sign-up h4{
    color: #8585AD;
  font-size: 21px;
}
.form-sign-up label{
    color: #3B3C3C !important;
    font-size: 21px;

}
.forgot-p{
    position: relative;
    top: 7px;
}
.form-sign-up .form-control{
    height: 70px;
    background: #F2F3F7;
    border-color: #F2F3F7;
    box-shadow: none;
    color: #000 !important;
    font-size: 21px;
    padding-left: 30px;
    margin-bottom: 25px;
    border-radius: 0;
}
.btn-sign-up{
    font-size: 23px;
    border: 1px solid #3EBAD0;
    padding: 14px 45px;
    background: #3EBAD0 !important;
    border-radius: 4px;
    margin-right: 20px;
    color: #fff!important;
    text-decoration: none !important;
    width: 100%;
    padding-bottom: 12px;
}
.text-align-right{
  text-align: right;
}
.text-color-blue {
    a {
        color: $primary-color;
    }

}
.custom-checkbox{
.checkbox{
   left: 0;
   width: 25px;
   height: 25px;
   top: 5px;
   &:after {
    left: 5px;
    top: 0px;  
    font-size: 16px; 
    }
 }

 .container {
    padding-left: 31px;
 }


}


