// .bs-datepicker-container{
//   .bs-calendar-container{
//     .theme-green {
//       .bs-datepicker-head{
//         background-color: #29abe2 !important;
//       }
//     }
//   }
// }
@import '../../../../variables.scss';

.select-iner {
  position: relative;
  top: -40px;
  left: 15px;
  font-size: 15px;
  color: #29abe2;

}

.flex-display {
  a:hover {
    text-decoration: none;
    color: #fff !important;

  }
}

.custom-checkbox {
  .checkbox-txt {
    color: #ff7676 !important;
    font-family: 'Apercu-Regular';
    font-size: 25px;
  }

  .mark {
    // background-color:#ff7676 !important;
    margin-top: 10px !important;
    border-radius: 20% !important;
    border: 1px solid #ff7676 !important;
  }
}

.pref-checkbox {
  display: flex;

  input {
    width: 30%;
  }
}

.radio-txt {
  margin: 0px 5px;
}

.topContent {
  .p1 {
    width: 100%;
  }

  .custom-link {
    color: #29abe2;
    font-size: 22px;
    font-weight: 200;
    font-family: 'Apercu-Medium';
    text-decoration: none;

  }
}

.select-txt {
  position: relative;
  top: 50px;
  left: -90px;
  color: #29abe2;
  z-index: 55555;
}

.pl {
  left: -140px;
}

.view-wraper {
  margin: 50px 0px 40px 0px;
  width: 100%;

  .view-btn {
    text-decoration: none;
    color: #ff7676;
    cursor: pointer;
    border-radius: 500px;
    border-style: solid;
    border-width: 2px;
    border-color: rgba(255, 67, 89, 0.2);
    background-color: rgba(255, 236, 237, 0.2);
    padding: 20px;

    img {
      margin: 0px 5px;
    }
  }
}

// radio btn
.inputGroup {
  background-color: #fff;
  display: flex;
  margin: 20px 0;
  position: relative;
}

.p16 {
  padding: 16px 32px !important;
}

.mt3 {
  margin-top: 3px !important;
}

.inputGroup {
  span {
    margin: 10px 30px 0px -15px;
  }
}

.date-icon {
  position: absolute;
  top: 65px;
  right: 30px;
  color: #29abe2;
}

.inputGroup label {
  padding: 12px 30px;
  text-align: left;
  color: #3C454C;
  cursor: pointer;
  position: relative;
  z-index: 2;
  transition: color 200ms ease-in;
  overflow: hidden;
}

.inputGroup label:before {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  content: '';
  // background-color: #5562eb;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%) scale3d(1, 1, 1);
  transform: translate(-50%, -50%) scale3d(1, 1, 1);
  transition: all 300ms cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 0;
  z-index: -1;
}

.inputGroup label:after {
  width: 32px;
  height: 32px;
  content: '';
  border: 2px solid #D1D7DC;
  background-color: #fff;
  background-image: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.414 11L4 12.414l5.414 5.414L20.828 6.414 19.414 5l-10 10z' fill='%23fff' fill-rule='nonzero'/%3E%3C/svg%3E ");
  background-repeat: no-repeat;
  background-position: 2px 3px;
  border-radius: 50%;
  z-index: 2;
  position: absolute;
  right: 30px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  cursor: pointer;
  transition: all 200ms ease-in;
}

.inputGroup input:checked~label {
  color: #fff;
}

.inputGroup input:checked~label:before {
  -webkit-transform: translate(-50%, -50%) scale3d(56, 56, 1);
  transform: translate(-50%, -50%) scale3d(56, 56, 1);
  opacity: 1;
}

.inputGroup input:checked~label:after {
  background-color: #2196F3;
  border-color: #2196F3;
}

.inputGroup input {
  width: 32px;
  height: 32px;
  order: 1;
  z-index: 2;
  position: absolute;
  right: 30px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  cursor: pointer;
  visibility: hidden;
}



.custom-btn {
  border-radius: 500px;
  padding: 25px 0;
  text-decoration: none;
  width: 325px;
  color: #fff;
}

.post-btn {
  background-color: rgb(89, 184, 74);
  // box-shadow: 0px 8px 12px 0px rgba(89, 184, 74, 0.35);

}

.quote-btn {
  background-color: #ff7676;
  // box-shadow: 0px 8px 12px 0px rgba(160, 87, 28, 0.397);
}

.bottom-txt {
  display: flex;
  justify-content: center;
  margin: 50px 0px;

  p {
    font-size: 20px;
    width: 27%;
    text-align: center;
    color: rgb(100, 100, 131);
    line-height: 1.251;
  }

}

.chip {
  display: inline-block;
  padding: 0 25px;
  height: 40px;
  font-size: 15px;
  color: #fff;
  line-height: 40px;
  margin: 5px;
  border-radius: 25px;
  background-color: #29abe2;
}

.closebtn {
  padding-left: 10px;
  color: #fff;
  font-weight: bold;
  float: right;
  font-size: 20px;
  cursor: pointer;
}

// for assign pilot only

div.command-center {
  .custom-datatable {
    tr {
      background: transparent;

      th {
        color: $primary-color;
        font-family: 'Apercu-Medium';
        font-size: 14px;
      }

      th,
      td {
        border: 0;
      }

      td {
        color: $table-row-color;
        font-family: 'Apercu-Regular';
        font-size: 14px;

        .details-btn {
          background: $delete-icon-color;
          color: $white;
          box-shadow: 0px 13px 23px 0px rgba(252, 87, 87, 0.2);
          border-radius: 15px;
          width: 72px;
          height: 31px;
          padding: 6px 10px 6px 10px;
        }
      }

      &:hover {
        background: transparent;
      }
    }
  }

}

.inputs-container1 {
  display: grid;
  grid-template-columns: 31% 31% 16% 16%;
  align-items: end;
  grid-gap: 2%;
  margin: 0;
}

.main-div {
  overflow-x: auto;
  white-space: nowrap;
  border: 2px solid $modal-border;
}

.table-div {
  display: grid;
  grid-template-rows: repeat(2, auto);
  background: white;
  padding: 5px 21px;
  grid-gap: 10px;
  // height: 600px;



  .table-body {
    min-height: 200px;
    max-height: 600px;
    overflow: auto;

    &::-webkit-scrollbar {
      width: 7px;
      background: $table-scroll;
    }

    &::-webkit-scrollbar-thumb {
      width: 100%;
      background: $table-heading;
    }
  }

  .table-heading-row {
    padding-right: 37px;

    &>:last-child {
      text-align: center;
    }
  }

  .table-body-rows {
    // cursor: pointer;
    color: $p-color;

    &:hover {
      background: $table-row-hover;
    }
  }

  .table-rows {
    display: grid;
    grid-template-columns: 15% 13% 16% 10% 9% 8% 10%;
    justify-content: space-between;
    align-items: center;
    padding: 2px 5px;
    border-radius: 5px;
    margin-right: 20px;

    div {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .action {
      height: 65px;
      line-height: 65px;
    }

    .table-content {
      padding: 15px 0px;
    }

    .user-info {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      width: 131px;
      float: left;
    }
  }

  .table-heading {
    color: $table-heading;
    padding: 10px 0px;
  }
}

.detail-btn {
  padding: 9px 18px;
  background: $details-btn;
  border: none;
  border-radius: 20px;
  outline: none;
  color: white;
}

.entries-selector {
  display: grid;
  height: 100px;
  grid-template-columns: auto auto;
  justify-content: left;
  align-content: center;
  grid-gap: 17px;
}

.show-entries-p {
  margin: 0;
  padding: 10px 0;
}

.selector-input-container {
  background: white;
  border-radius: 25px;
  padding: 7px 24px;
  position: relative;
  z-index: 1;

  &::before {
    content: '\25b2';
    position: absolute;
    top: 18%;
    left: 64%;
    color: #3FBAD0;
    font-size: 12px;
    z-index: -1;
  }

  &::after {
    content: '\25BC';
    position: absolute;
    top: 44%;
    left: 64%;
    color: #3FBAD0;
    font-size: 12px;
    z-index: -1;
  }
}

.selector-input {
  width: 55px;
  height: 31px;
  border-radius: 20px;
  border: none;
  outline: none;
  background: transparent;
  -moz-appearance: none;
  -webkit-appearance: none;

  option {
    color: #73738a;
  }
}

.page-footer {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-between;
  align-content: center;
  align-items: center;

  .pagination-div {

    dl,
    ol,
    ul {
      margin-top: auto;
      background: red;
    }

  }

}

.rating {
  font-size: 23px !important;
  color: #29abe2 !important;
}

.disableDiv {
  pointer-events: none;

  i {
    color: #ccc !important;
  }
}

.outer-btn {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: center;
  align-items: center;
}

.row1 {
  justify-content: space-around !important;
}

.extended-table-client {
  div.table-rows {
    grid-template-columns: 20% 15% 16% 10% 9% 8%;
  }
}
