<div class="container mTop50" *ngIf="!isAdmin">
  <a href="" class="custom-btn1 blue-txt" *ngIf="userInfo.Role=='customer'" [routerLink]="['/user/client-job-list']"><i
      class="fa fa-arrow-left mr15" aria-hidden="true"></i>My
    Jobs</a>
  <a href="" class="custom-btn1 blue-txt" *ngIf="userInfo.Role=='pilot'" [routerLink]="['/user/pilot-job-list']"><i
      class="fa fa-arrow-left mr15" aria-hidden="true"></i>My
    Jobs</a>
</div>
<div class="container mTop50" *ngIf="isAdmin">
  <a href="" class="custom-btn1 blue-txt" [routerLink]="['/admin/jobs-list']"><i class="fa fa-arrow-left mr15"
    aria-hidden="true"></i>All Jobs</a>
</div>

<div *ngIf="jobId">
  <div class="top-content makeCenter">
    <div *ngIf="!isAdmin">
      <h1 class="heading1">Corporate Event Coverage</h1>
      <p class="description1">All of the details related to this job will be here</p>
    </div>
    <div class="m50" *ngIf="userInfo.Role=='customer'">
      <span class="custom-btn1 red-txt" *ngIf="jobData">{{jobData.JobId}}</span>
        <a class="custom-btn1 green-txt" *ngIf="jobData && jobData.IsQuote" (click)="approveJob()"><i class="fa fa-circle mr5"
        aria-hidden="true"></i>
        Live Job<i class="fa fa-pencil ml15" aria-hidden="true"></i></a>
        <a class="custom-btn1 green-txt" *ngIf="jobData && !jobData.IsQuote"><i class="fa fa-circle mr5" aria-hidden="true"></i>
        Active Job</a>
    </div>
    <div class="m50" *ngIf="userInfo.Role=='pilot'">
      <span class="custom-btn1 red-txt" *ngIf="jobData">{{jobData.JobId}}</span>
      <a class="custom-btn1 green-txt" *ngIf="IsParticularDate =='range' && !isPassed"><i class="fa fa-circle mr5" aria-hidden="true"></i>
      Assigned Job, <span>{{remainingDays}}</span> Days Remaining</a>
      <a class="custom-btn1 red-btn-txt" *ngIf="IsParticularDate =='range' && isPassed"><i class="fa fa-circle mr5" aria-hidden="true"></i>
        Job Expired, Time passed <span>{{remainingDays}}</span> Days</a>
      <a class="custom-btn1 green-txt" *ngIf="IsParticularDate =='particular' && !isPassed"><i class="fa fa-circle mr5" aria-hidden="true"></i>
      Assigned Job, Ends in <span>{{remainingTime}}</span></a>
      <a class="custom-btn1 red-btn-txt" *ngIf="IsParticularDate =='particular' && isPassed"><i class="fa fa-circle mr5" aria-hidden="true"></i>
        Job Expired, Time passed <span>{{remainingTime}}</span></a>
    </div>
  </div>

  <div class="container mTop100" *ngIf="!isAdmin">
    <div class="row">
      <div class="col-md-5 col-sm-12 col-xs-12 flex-display">
        <div class="custom-tabs">
          <ul class="custom-ul">
            <li (click)="JobRequest()"><a [class.active-link]="isJobRequest">Job Request</a></li>
            <li (click)="AssignPilots()"><a [class.active-link]="!isJobRequest">Assigned Pilots<span class="badge"></span></a></li>
          </ul>
        </div>
      </div>
      <div class="col-md-7 col-sm-12 col-xs-12" *ngIf="jobData && userInfo.Role=='customer' && jobData.JobStatus=='completed'">
        <div class="flex-display">
          <p class="mTop15 description1"><i class="fa fa-check" aria-hidden="true"></i>
          Pilot(s) claimed the job is completed</p>
          <!-- <a (click)="openRatingModal()" class="custom-btn1 orange-bg">Rate your -->
          <!-- expirence</a> -->
        </div>
      </div>
      <div class="col-md-7 col-sm-12 col-xs-12" *ngIf="userInfo.Role=='pilot'">
        <div class="flex-display">
          <p class="mTop15 description1">
            <a class="custom-btn1 green-g-bg">I am on Location</a>
            <a (click)="changeJobStatus()" *ngIf="pilotData.JobStatus=='assigned'" class="custom-btn1 orange-bg">Mark the job as
            completed</a>
            <a class="custom-btn1 orange-bg" *ngIf="pilotData.JobStatus=='completed'">Job Is Completed</a>
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="isJobRequest">
  <div class="topContent makeCenter" *ngIf="!isAdmin && !jobId">
    <h1 class="pb0">Post a Job</h1>
    <p class="p1">You can post a live job or you can ask for a quote. DWS will then react to your request accordingly.</p>
    <a class="custom-link" href="#">Learn More</a>
  </div>
  <div class="topContent" *ngIf="isAdmin">
    <h1>Review Jobs</h1>
    <p>Review Jobs and Let Customer/Pilot know if they are missing
      something important!</p>
  </div>
  <div class="buttons makeCenter mBottom25" *ngIf="jobData && jobData.length ||isAdmin">
    <a class="btn-approve profile-buttons white-txt" *ngIf="!jobInformation.value.IsQuote" [routerLink]="['/admin/pilot-list',jobId]">Assign pilot</a>
    <a class="btn-message profile-buttons white-txt" [routerLink]="['/admin/communication']">Send a Message</a>
    <a class="btn-reject  profile-buttons white-txt" (click)="rejectJob()">Delete</a>
  </div>


<form [formGroup]="jobInformation" [class.disableDiv]="isAdmin || jobId">

    <div class="custom-checkbox" *ngIf="userInfo.Role=='customer' && !jobId">
      <label class="container">
        <span class="checkbox-txt">Request a Quote</span>
        <input type="checkbox" formControlName="IsQuote">
        <p class="checkmark checkmark1 mark"></p>
        <p><label class="custom-input-label">Leave it un-checked if you're posting a job which you don't require a
            quote for.</label></p>
      </label>
    </div>


    <div class="container makeBgWhite mBottom20 pt20 mTop50">
      <div class="personal-information">
        <div class="user-personal-info">
          <div class="container">
            <div class="row">
              <div class="col-md-6 col-sm-12 col-xs-12">
                <div class="form-group">
                  <label for="jobTitle" class="custom-input-label">Title of the Job*</label>
                  <input type="text" class="form-control custom-input" id="jobTitle" aria-describedby="jobTitle"
                    formControlName="JobTitle" placeholder="e.g Cover our corporate event">
                  <div *ngIf="form.JobTitle.invalid && (form.JobTitle.dirty || form.JobTitle.touched)"
                  class="invalid-feedback">
                  <div *ngIf="form.JobTitle.errors.required">Title is required</div>
                </div>
                </div>
                <div class="form-group">
                  <label for="industry" class="custom-input-label">Select Industry</label>
                  <ng-select class="custom-select1" formControlName="Industry" placeholder="Select" [searchable]="false">
                    <ng-option *ngFor="let industry of industriesList" [value]="industry.name">{{industry.name}}</ng-option>
                  </ng-select>
                  <div *ngIf="form.Industry.invalid && (form.Industry.dirty || form.Industry.touched)" class="invalid-feedback">
                  <div *ngIf="form.Industry.errors.required">Industry is required</div>
                </div>
                </div>
              </div>
              <div class="col-md-6 col-sm-12 col-xs-12">
                <div class="form-group">
                  <label for="comments" class="custom-input-label">Additional request/Comments</label>
                  <textarea class="form-control custom-textarea" placeholder="Comments" formControlName="Comments"></textarea>
                  <div *ngIf="form.Comments.invalid && (form.Comments.dirty || form.Comments.touched)" class="invalid-feedback">
                  <div *ngIf="form.Comments.errors.required">Comments is required</div>
                </div>
                </div>
              </div>

              <div class="col-md-6 col-sm-12 col-xs-12">
                <div class="form-group">
                  <label for="budget" class="custom-input-label">Budget</label>
                  <input type="number" class="form-control custom-input" id="budget" aria-describedby="budget"
                    formControlName="Budget" placeholder="Enter your budget $">
                  <div *ngIf="form.Budget.invalid && (form.Budget.dirty || form.Budget.touched)"
                  class="invalid-feedback">
                  <div *ngIf="form.Budget.errors.required">Budget is required</div>
                </div>
                </div>
              </div>

              <div class="col-md-6 col-sm-12 col-xs-12">
                <div class="view-wraper">
                  <a class="view-btn"><img src="../../../assets/icons/box.png" alt="error">View Packages</a>
                </div>
              </div>

              <div class="col-md-6 col-sm-12 col-xs-12">
                <div class="form-group">
                  <label for="expectedDeliverables" class="custom-input-label">Expected Deliverables</label>
                  <ng-select formControlName="ExpectedDeliverables" [searchable]="true"   [multiple]="true" class="custom-ngselect job-custom-select"
                    placeholder="Select From pre-established deliverables">
                    <ng-option *ngFor="let deliverables of expectedDeliverables" [value]="deliverables.name">{{deliverables.name}}</ng-option>
                  </ng-select>

                  <!-- <span class="select-iner">Select From pre-established deliverables</span> -->
                  <div *ngIf="form.ExpectedDeliverables.invalid && (form.ExpectedDeliverables.dirty || form.ExpectedDeliverables.touched)" class="invalid-feedback">
                  <div *ngIf="form.ExpectedDeliverables.errors.required">Expected Deliverables is required</div>
                </div>
                </div>
              </div>

              <div class="col-md-6 col-sm-12 col-xs-12">
                <div class="form-group">
                  <label for="ownDeliverables" class="custom-input-label">Type your own Deliverables (Separated by
                    Commas)</label>
                  <input type="text" class="form-control custom-input" id="ownDeliverables" aria-describedby="ownDeliverables"
                    formControlName="OwnDeliverables" (input)="addToTagList(jobInformation.value.OwnDeliverables)">
                  <div *ngIf="form.OwnDeliverables.invalid && (form.OwnDeliverables.dirty || form.OwnDeliverables.touched)"
                    class="invalid-feedback">
                    <div *ngIf="form.OwnDeliverables.errors.required">Own Deliverables is required</div>
                  </div>
                </div>

                <div class="chip" *ngFor="let tags of tagsArray">
                  {{tags}}
                  <!-- <span class="closebtn" onclick="this.parentElement.style.display='none'">&times;</span> -->
                </div>
              </div>

              <div class="col-md-12 col-sm-12 col-xs-12">
                <label for="date" class="custom-input-label">Equipment Preferences</label>
                <div class="row">
                  <div class="inputGroup">
                    <input id="radio1" name="radio" type="radio" [value]="'yes'" [(ngModel)]="IsEquipmentPref"
                      [ngModelOptions]="{standalone: true}" />
                    <label for="radio1">y</label><span>Yes</span>
                  </div>
                  <div class="inputGroup">
                    <input id="radio2" name="radio" type="radio" [value]="'no'" [(ngModel)]="IsEquipmentPref"
                      [ngModelOptions]="{standalone: true}" />
                    <label for="radio2">n</label><span>No</span>
                  </div>
                </div>
              </div>
              <div class="col-md-6 col-sm-12 col-xs-12">
                <div class="form-group mTop15">
                  <textarea class="form-control custom-textarea" *ngIf="IsEquipmentPref=='yes'" placeholder="Type your equipment preferences"
                    formControlName="EquipmentPreferences"></textarea>
                  <div *ngIf="form.EquipmentPreferences.invalid && (form.EquipmentPreferences.dirty || form.EquipmentPreferences.touched)" class="invalid-feedback">
                      <div *ngIf="form.EquipmentPreferences.errors.required">Equipment Preferences is required</div>
                    </div>
                </div>
              </div>

              <div class="col-md-12 col-sm-12 col-xs-12">
                <h1 class="form-heading">Date & Time</h1>
                <p>Does job require a Particular date to get the job done or it can be done within a range of date?</p>
                <div class="row">
                  <div class="inputGroup">
                    <input id="radio3" name="radio1" type="radio" [value]="'particular'" [(ngModel)]="IsParticularDate"
                      [ngModelOptions]="{standalone: true}" />
                    <label for="radio3" class="p16"></label><span class="mt3">Particular Date</span>
                  </div>
                  <div class="inputGroup">
                    <input id="radio4" name="radio1" type="radio" [value]="'range'" [(ngModel)]="IsParticularDate"
                      [ngModelOptions]="{standalone: true}" />
                    <label for="radio4" class="p16"></label><span class="mt3">Date Range</span>
                  </div>
                </div>
              </div>

              <div formGroupName="DateRanges" class="col-md-12 col-sm-12 col-xs-12" *ngIf="IsParticularDate=='particular'">
                <div class="row">
                  <div class="col-md-4 col-sm-12 col-xs-12">
                    <label for="fromDate" class="custom-input-label mBottom25">Date*</label>
                    <input placeholder="8/10/2018" formControlName="FromDate" class="form-control custom-input mTop30"
                      #dp1="bsDatepicker" [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY', containerClass: 'custom-datepicker' }"
                      bsDatepicker>
                    <span (click)="setOptions('1')" class="date-icon"><i class="fa fa-calendar"></i></span>
                  </div>
                  <div class="col-md-3 col-sm-6 col-xs-12 blue-txt">
                    <label for="from" class="custom-input-label">From</label>
                    <timepicker formControlName="From"></timepicker>
                  </div>
                  <div class="col-md-3 col-sm-6 col-xs-12 blue-txt">
                    <label for="to" class="custom-input-label">To</label>
                    <timepicker formControlName="To"></timepicker>
                  </div>
                </div>
              </div>

              <div formGroupName="DateRanges" class="col-md-12 col-sm-12 col-xs-12" *ngIf="IsParticularDate=='range'">
                <div class="row">
                  <div class="col-md-4 col-sm-12 col-xs-12">
                    <label for="fromDate" class="custom-input-label mBottom25">From Date*</label>
                    <input placeholder="8/10/2018" formControlName="FromDate" class="form-control custom-input mTop30"
                      #dp2="bsDatepicker" [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY', containerClass: 'custom-datepicker' }"
                      bsDatepicker>
                    <span (click)="setOptions('2')" class="date-icon"><i class="fa fa-calendar"></i></span>
                  </div>
                  <div class="col-md-4 col-sm-12 col-xs-12">
                    <label for="toDate" class="custom-input-label mBottom25">To Date*</label>
                    <input placeholder="8/10/2018" formControlName="ToDate" class="form-control custom-input mTop30"
                      #dp3="bsDatepicker" [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY', containerClass: 'custom-datepicker' }"
                      bsDatepicker>
                    <span (click)="setOptions('3')" class="date-icon"><i class="fa fa-calendar"></i></span>
                  </div>
                </div>
              </div>

              <div class="col-md-12 col-sm-12 col-xs-12">
                <h1 class="form-heading">Venue</h1>
              </div>
              <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="form-group">
                  <label for="addressLine1" class="custom-input-label">Address line 1</label>
                  <input type="text" class="form-control custom-input" placeholder="Enter Address line 1" id="addressLine1"
                    aria-describedby="addressLine1" formControlName="AddressLine1">
                  <div *ngIf="form.AddressLine1.invalid && (form.AddressLine1.dirty || form.AddressLine1.touched)"
                    class="invalid-feedback">
                    <div *ngIf="form.AddressLine1.errors.required">Address is required</div>
                  </div>
                </div>
              </div>


              <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="form-group">
                  <label for="lastName" class="custom-input-label">Address line 2</label>
                  <input type="text" class="form-control custom-input" placeholder="Enter Address line 2" id="lastName"
                    aria-describedby="lastName" formControlName="AddressLine2">
                  <div *ngIf="form.AddressLine2.invalid && (form.AddressLine2.dirty || form.AddressLine2.touched)"
                    class="invalid-feedback">
                    <div *ngIf="form.AddressLine2.errors.required">Address is required</div>
                  </div>
                </div>
              </div>

              <div class="col-md-4 col-sm-12 col-xs-12">
                <div class="form-group">
                  <label for="country" class="custom-input-label">Country</label>
                  <ng-select class="custom-select1" formControlName="Country" [searchable]="true" (change)="getStatesByCode('physical',jobInformation.value.Country, 'change')">
                    <ng-option *ngFor="let country of countriesList" [value]="country.ID">{{country.Name}}</ng-option>
                  </ng-select>
                  <div *ngIf="form.Country.invalid && (form.Country.dirty || form.Country.touched)" class="invalid-feedback">
                    <div *ngIf="form.Country.errors.required">Country is required</div>
                  </div>
                </div>
              </div>
              <div class="col-md-4 col-sm-12 col-xs-12">
                <div class="form-group">
                  <label for="city" class="custom-input-label">City</label>
                  <input type="text" class="form-control custom-input" placeholder="Wilimington" aria-describedby="city"
                    formControlName="City">
                  <div *ngIf="form.City.invalid && (form.City.dirty || form.City.touched)"
                    class="invalid-feedback">
                    <div *ngIf="form.City.errors.required">City is required</div>
                  </div>
                </div>
              </div>
              <div class="col-md-4 col-sm-12 col-xs-12">
                <div class="form-group">
                  <label for="State" class="custom-input-label">State</label>
                  <ng-select class="custom-select1" formControlName="State" [searchable]="true">
                    <ng-option *ngFor="let state of regionList" [value]="state.ID">{{state.Name}}</ng-option>
                  </ng-select>
                  <div *ngIf="form.State.invalid && (form.State.dirty || form.State.touched)" class="invalid-feedback">
                    <div *ngIf="form.State.errors.required">State is required</div>
                  </div>
                </div>
              </div>
              <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="form-group">
                  <label for="Zip" class="custom-input-label">Zip</label>
                  <input type="number" class="form-control custom-input" placeholder="44000" aria-describedby="zip"
                    formControlName="Zip">
                  <div *ngIf="form.Zip.invalid && (form.Zip.dirty || form.Zip.touched)"
                      class="invalid-feedback">
                      <div *ngIf="form.Zip.errors.required">Zip is required</div>
                    </div>
                </div>
              </div>

              <div class="col-md-12 col-sm-12 col-xs-12">
                <h1 class="form-heading">Contact Details</h1>
              </div>
              <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="form-group">
                  <label for="primaryEmail" class="custom-input-label">Primary Email</label>
                  <input type="email" formControlName="PrimaryEmail" placeholder="Enter Primary Email" class="form-control custom-input"
                    id="primaryEmail" aria-describedby="primaryEmail">

                  <div *ngIf="form.PrimaryEmail.invalid && (form.PrimaryEmail.dirty || form.PrimaryEmail.touched)" class="invalid-feedback">
                      <div *ngIf="form.PrimaryEmail.errors.required">PrimaryEmail is required</div>
                    </div>
                </div>
              </div>
              <div class="col-md-6 col-sm-6 col-xs-12">
              </div>

              <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="form-group">
                  <label for="primaryPhone" class="custom-input-label">Primary Phone</label>
                  <input type="number" formControlName="PrimaryPhone" placeholder="Enter Primary Phone" class="form-control custom-input"
                    id="primaryPhone" aria-describedby="primaryPhone">
                  <div *ngIf="form.PrimaryPhone.invalid && (form.PrimaryPhone.dirty || form.PrimaryPhone.touched)" class="invalid-feedback">
                      <div *ngIf="form.PrimaryPhone.errors.required">Primary Phone is required</div>
                    </div>
                </div>
              </div>
              <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="form-group">
                  <label for="secondaryPhone" class="custom-input-label">Secondary Phone</label>
                  <input type="number" formControlName="SecondaryPhone" placeholder="Enter Secondary Phone" class="form-control custom-input"
                    id="secondaryPhone" aria-describedby="secondaryPhone">
                  <div *ngIf="form.SecondaryPhone.invalid && (form.SecondaryPhone.dirty || form.SecondaryPhone.touched)" class="invalid-feedback">
                      <div *ngIf="form.SecondaryPhone.errors.required">Secondary Phone is required</div>
                    </div>
                </div>
              </div>

              <div class="view-wraper">
                <a class="view-btn" (click)="addParticularData()"><img src="../../../assets/icons/plus.png" alt="error">Add
                  a particular Contact Name/Number</a>
              </div>
              <div class="container" formArrayName="ParticularData">
                <div class="row" *ngFor="let particularData of jobInformation.get('ParticularData').controls; let i=index"
                  [formGroupName]="i">
                  <div class="col-md-5 col-sm-5 col-xs-12">
                    <div class="form-group">
                      <label for="ParticularName" class="custom-input-label">Particular Name</label>
                      <input type="text" formControlName="ParticularName" placeholder="Enter Name" class="form-control custom-input"
                        id="particularName" aria-describedby="particularName">
                      <!-- <div *ngIf="particularData.invalid && (particularData.dirty || particularData.touched)" class="invalid-feedback">
                      <div *ngIf="particularData.errors">Particular Name is required</div>
                    </div> -->
                    </div>
                  </div>
                  <div class="col-md-5 col-sm-5 col-xs-12">
                    <div class="form-group">
                      <label for="ParticularNumber" class="custom-input-label">Particular Number</label>
                      <input type="number" formControlName="ParticularNumber" placeholder="Enter Number" class="form-control custom-input"
                        id="particularNumber" aria-describedby="particularNumber">
                      <!-- <div *ngIf="particularData.invalid && (particularData.dirty || particularData.touched)" class="invalid-feedbck">
                      <div *ngIf="particularData.errors.required">particular Number is required</div>
                    </div> -->
                    </div>
                  </div>
                  <div class="col-md-2 col-sm-2 col-xs-12 removeIcon">
                    <a (click)="removeParticularData(i)"><i class="fa fa-trash"></i></a>
                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div *ngIf="!jobId">
      <div class="container">
        <div class="row makeCenter">
          <div class="col-md-12 col-sm-12 col-xs-12 mTop100">
            <button class="custom-btn post-btn" *ngIf="!jobInformation.value.IsQuote"  (click)="save()">Post this as
              Live Job</button>
            <button class="custom-btn quote-btn" *ngIf="jobInformation.value.IsQuote"  (click)="save()">Post this as
              Quote</button>
          </div>
        </div>
      </div>
      <div class="bottom-txt">
        <p>Someone from DWS Will get in touch with you
          shortly. Login to DWS Job Portal and manage your
          job better.</p>
      </div>
    </div>

  </form>

</div>

<div class="command-center container mTop50" *ngIf="!isJobRequest && jobId">
  <div class="row">
    <div class="col-md-12">
      <div class="main-div">
        <div class="table-div">
          <div class="table-rows table-heading-row">
            <div class="table-heading">Name</div>
            <!-- <div class="table-heading makeCenter">Status</div> -->
            <div class="table-heading">Email</div>
            <div class="table-heading">Phone #</div>
            <div class="table-heading">Country</div>
            <div class="table-heading">State</div>
            <div class="table-heading">City</div>
            <div class="table-heading">Rating</div>
          </div>
          <div class="table-body" *ngIf="assignedPilotList && assignedPilotList.length">
            <div class="table-rows table-body-rows" *ngFor="let pilot of assignedPilotList">
              <div class="table-content">{{pilot.FirstName+' '+pilot.LastName}} <span class="red-bg custom-btn2"
              *ngIf="pilot.PilotId==userInfo.ID">You</span></div>
              <div class="table-content">{{pilot.Email}}</div>
              <div class="table-content">{{pilot.Phone ? pilot.Phone: '-'}}</div>
              <div class="table-content">{{pilot.Country ? pilot.Country: '-'}}</div>
              <div class="table-content">{{pilot.State ? pilot.State: '-'}}</div>
              <div class="table-content">{{pilot.City ? pilot.City: "-"}}</div>
              <div class="table-content makeCenter" [class.disableDiv]="jobData.JobStatus=='assigned'"><i (click)="openRatingModal(pilot.PilotId)"
              class="fa fa-line-chart rating"
              aria-hidden="true"></i></div>
              <!-- <div class="action makeCenter"><a class="manage-btn">Manage</a></div> -->
            </div>
          </div>
          <div class="table-body" *ngIf="assignedPilotList && !assignedPilotList.length">
            <div class="makeCenter">
              <p>No Pilot Assigned</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
