<form [formGroup]="businessInformation" >
<div class="container makeBgWhite"[class.disableDiv]="isAdmin" >
  <div class="personal-information">
    <div class="business-info-details makeCenter">
      <!-- <div class="displayPicture">
          <img src="../../../../assets/images/avatar.png" alt="">
          <div class="image-upload">
            <label for="file-input">
              <i class="fa fa-pencil" aria-hidden="true"></i>
            </label>

            <input id="file-input" type="file" />
          </div>
        </div> -->
      <p class="user-name">Business Information</p>
      <p class="user-description">Please provide your business information</p>
    </div>

    <div class="user-personal-info">
      <div class="container">

        <div class="row justify-content-center">
          <div class="col-md-3 makeCenter">
            <!-- <div class="displayPicture">
              <img *ngIf="businessImage" [src]="businessImage" alt="business logo">
              <img *ngIf="!businessImage" src="../../../../assets/images/avatar.png" alt="business logo">
              <div class="image-upload">
                <label for="file-input">
                  <i class="fa fa-pencil" aria-hidden="true"></i>
                </label>

                <input id="file-input" type="file" (change)="uploadImage($event)" accept="image/*"/>
              </div>
            </div> -->
            <div class="displayPictureTop">
                <div class="displayPicture">
                  <img *ngIf="messages.coverImageChoosed" [src]="croppedImage" class="croppedImageDiv" />
                  <img *ngIf="displayPicture && !messages.coverImageChoosed" [src]="displayPicture" alt="Display picture" [class.enableDiv]="isAdmin" (click)="isAdmin && zoomPic(displayPicture)">
                  <img *ngIf="!displayPicture && !messages.coverImageChoosed" src="../../../../assets/images//avatar.png" alt="Display picture">
                  <div class="image-upload">
                    <label for="file-input">
                      <i class="fa fa-pencil" aria-hidden="true"></i>
                    </label>
                    <input id="file-input" (change)="uploadCoverImage($event)" type="file" accept="image/*" />
                  </div>
                </div>
                <div class="display_pic-upload">
                  <label for="pic" class="uploader" *ngIf="messages.uploadingImage"><i class="fa fa-circle-o-notch fa-spin"></i>
                  </label>
                </div>
                <img #croppie="croppie" [croppieOptions]="croppieOptions" (update)="handleUpdate($event)" *ngIf="messages.coverImageChoosed" />
                <button class="btn crop-btn" *ngIf="messages.coverImageChoosed && !messages.uploadingImage" (click)="uploadCroppedImage(croppedImageData)">Crop &amp; Save</button>
                <div>

                </div>

              </div>
            <p class="aperu-medium mTop15">Business Logo</p>
          </div>
          <!-- <div class="col-md-3 makeCenter">
            <div class="displayPicture">
              <img src="../../../../assets/images/avatar.png" alt="">
              <div class="image-upload">
                <label for="file-input">
                  <i class="fa fa-pencil" aria-hidden="true"></i>
                </label>

                <input id="file-input" type="file" />
              </div>

            </div>
            <p class="aperu-medium mTop15">Business Logo (Secondary)</p>
          </div> -->
        </div>

          <div class="row">
            <div class="col-md-6 col-sm-12 col-xs-12">
              <div class="form-group">
                <label for="businessName" class="custom-input-label">Business Name</label>
                <input type="text" class="form-control custom-input" id="businessName" aria-describedby="businessName"
                  placeholder="Business Name" formControlName="BusinessName" >
              </div>
            </div>
            <div class="col-md-6 col-sm-12 col-xs-12">
              <div class="form-group">
                <label for="businessType" class="custom-input-label">Business Type</label>
                <ng-select formControlName="BusinessType" [searchable]="false">
                  <ng-option *ngFor="let type of businessTypes" [value]="type.code">{{type.name}}</ng-option>
                </ng-select>
              </div>
            </div>
          </div>


      </div>
    </div>

    <div class="physical-address">
      <div class="container">
        <h1 class="form-heading">Business Physical Address</h1>
        <div class="row">
          <div class="col-md-6 col-sm-12 col-xs-12">
            <div class="form-group">
              <label for="addressone" class="custom-input-label">Address Line 1</label>
              <input type="text" class="form-control custom-input" id="addressone" aria-describedby="addressone"
                placeholder="Address line 1" formControlName="PhysicallAddressLine1">
            </div>
          </div>
          <div class="col-md-6 col-sm-12 col-xs-12">
            <div class="form-group">
              <label for="addresstwo" class="custom-input-label">Address Line 2</label>
              <input type="text" class="form-control custom-input" id="addresstwo" aria-describedby="addresstwo"
                placeholder="Address line 2" formControlName="PhysicallAddressLine2">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="form-group">
              <label for="country" class="custom-input-label">Country</label>
              <ng-select formControlName="PhysicallCountry" [searchable]="false" (change)="getStatesByCode('physical',businessInformation.value.PhysicallCountry, 'change')">
                <ng-option *ngFor="let country of countriesList" [value]="country.ID">{{country.Name}}</ng-option>
              </ng-select>
            </div>
          </div>
          <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="form-group">
              <label for="city" class="custom-input-label">City</label>
              <input type="text" class="form-control custom-input" formControlName="PhysicallCity" id="city" aria-describedby="city" placeholder="City">
            </div>
          </div>
          <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="form-group">
              <label for="state" class="custom-input-label">State</label>
              <ng-select formControlName="PhysicallState" [searchable]="false">
                <ng-option *ngFor="let states of physicalRegionList" [value]="states.ID">{{states.Name}}</ng-option>
              </ng-select>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="form-group">
              <label for="zip" class="custom-input-label"> ZIP Code</label>
              <input type="text" class="form-control custom-input" id="zip" aria-describedby="zip"formControlName="PhysicallZip" placeholder=" ZIP Code">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="mailing-address">
      <div class="container">
        <h1 class="form-heading">Business Mailing Address</h1>
        <div class="row">
          <div class="col-md-6 col-sm-12 col-xs-12">
            <div class="custom-checkbox">
              <label class="container">Same as Physical Address
                <input type="checkbox" checked="checked" formControlName="SameAsPhysical" (click)="cloneValues(businessInformation.value.SameAsPhysical)" value="1">
                <p class="checkmark"></p>
              </label>
            </div>
          </div>
        </div>
        <div class="row" *ngIf="!businessInformation.value.SameAsPhysical">
          <div class="col-md-6 col-sm-12 col-xs-12">
            <div class="form-group">
              <label for="addressone" class="custom-input-label">Address Line 1</label>
              <input type="text" class="form-control custom-input" id="addressone" aria-describedby="addressone"
                placeholder="Address line 1" formControlName="MailingAddressLine1">
            </div>
          </div>
          <div class="col-md-6 col-sm-12 col-xs-12">
            <div class="form-group">
              <label for="addresstwo" class="custom-input-label">Address Line 2</label>
              <input type="text" class="form-control custom-input" id="addresstwo" aria-describedby="addresstwo"
                placeholder="Address line 2" formControlName="MailingAddressLine2">
            </div>
          </div>
        </div>
        <div class="row" *ngIf="!businessInformation.value.SameAsPhysical">
          <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="form-group">
              <label for="country" class="custom-input-label">Country</label>
              <ng-select formControlName="MailingCountry" [searchable]="false" (change)="getStatesByCode('mailing', businessInformation.value.MailingCountry,'change')">
                <ng-option *ngFor="let country of countriesList" [value]="country.ID">{{country.Name}}</ng-option>
              </ng-select>
            </div>
          </div>
          <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="form-group">
              <label for="city" class="custom-input-label">City</label>
              <input type="text" class="form-control custom-input" id="city" aria-describedby="city" formControlName="MailingCity" placeholder="City">
            </div>
          </div>
          <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="form-group">
              <label for="state" class="custom-input-label">State</label>
              <ng-select formControlName="MailingState" [searchable]="false">
                <ng-option *ngFor="let mState of mailingRegionList" [value]="mState.ID" >{{mState.Name}}</ng-option>
              </ng-select>
            </div>
          </div>
        </div>
        <div class="row" *ngIf="!businessInformation.value.SameAsPhysical">
          <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="form-group">
              <label for="zip" class="custom-input-label">Zip</label>
              <input type="text" class="form-control custom-input" id="zip" aria-describedby="zip" placeholder="zip" formControlName="MailingZip">
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="other-info">
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-sm-12 col-xs-12">
            <div class="form-group">
              <label for="businessPhoneNumberP" class="custom-input-label">Business Phone Number (Primary)</label>
              <input type="number" class="form-control custom-input" id="zip" aria-describedby="businessPhonetextP"
                placeholder="Business Phone Number (Primary)" formControlName="BusinessPhoneNumberPrimary">
            </div>
          </div>
          <div class="col-md-6 col-sm-12 col-xs-12">
            <div class="form-group">
              <label for="businessPhoneNumberS" class="custom-input-label">Business Phone Number (Secondary)</label>
              <input type="number" class="form-control custom-input" id="businessPhoneNumberS" aria-describedby="businessPhoneNumberS"
                placeholder="Business Phone Number (Secondary)" formControlName="BusinessPhoneNumberSecondary">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 col-sm-12 col-xs-12">
            <div class="form-group">
              <label for="stateRegistered" class="custom-input-label">State Registered In</label>
              <ng-select formControlName="StateRegisteredIn" [searchable]="false">
               <ng-option *ngFor="let states of physicalRegionList" [value]="states.ID">{{states.Name}}</ng-option>
              </ng-select>
            </div>
          </div>
          <div class="col-md-6 col-sm-12 col-xs-12">
            <div class="form-group">
              <label for="BusinessStartDate" class="custom-input-label">Business Start Date</label>
              <input type="date" class="form-control custom-input" id="BusinessStartDate" aria-describedby="BusinessStartDate"
                placeholder="BusinessStartDate" formControlName="BusinessStartDate">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 col-sm-12 col-xs-12">
            <label for="liabilityRadio" class="custom-input-label">General Liability Insurance</label>
            <div class="custom-radio">
              <label class="container">Yes
                <input type="radio" formControlName="GeneralLiabilityInsurance" value='1'>
                <span class="checkmark"></span>
              </label>

              <label class="container">No
                <input type="radio" formControlName="GeneralLiabilityInsurance" value='0'>
                <span class="checkmark"></span>
              </label>
            </div>
          </div>
          <div class="col-md-6 col-sm-12 col-xs-12">
              <label for="liabilityRadio" class="custom-input-label">Professional Liability Insurance</label>
              <div class="custom-radio">
                <label class="container">Yes
                  <input type="radio" formControlName="ProfessionalLiabilityInsurance" value='1' >
                  <span class="checkmark"></span>
                </label>

                <label class="container">No
                  <input type="radio" formControlName="ProfessionalLiabilityInsurance" value='0'>
                  <span class="checkmark"></span>
                </label>
              </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-sm-12 col-xs-12">
              <label for="CompInsurance" class="custom-input-label">Workman’s Comp Insurance</label>
              <div class="custom-radio">
                <label class="container">Yes
                  <input type="radio"  formControlName="WorksmanCompInsurance" value='1'>
                  <span class="checkmark"></span>
                </label>

                <label class="container">No
                  <input type="radio" formControlName="WorksmanCompInsurance" value='0'>
                  <span class="checkmark"></span>
                </label>
              </div>
            </div>
            <div class="col-md-6 col-sm-12 col-xs-12">
                <label for="AutoInsurance" class="custom-input-label">Commercial Auto Insurance</label>
                <div class="custom-radio">
                  <label class="container">Yes
                    <input type="radio" formControlName="CommercialAutoInsurance" value='1'>
                    <span class="checkmark"></span>
                  </label>

                  <label class="container">No
                    <input type="radio" formControlName="CommercialAutoInsurance" value='0'>
                    <span class="checkmark"></span>
                  </label>
                </div>
              </div>
          </div>
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <label for="additional-notes"  class="form-heading">Additional Notes</label>
              <textarea class="form-control custom-textarea" id="additional-notes" formControlName="Notes"></textarea>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

</div>

<div class="container">
  <div class="call-to-action" [class.disableDiv]="isAdmin">
    <div class="goBack" (click)="goBack()">
      <button>Previous Step</button>
    </div>
    <div class="saveButton" *ngIf="!loading">
      <button (click)="save()">Save</button>
    </div>
    <div class="saveButton disableDiv" *ngIf="loading">
      <button ><i class="fa fa-circle-o-notch fa-spin"></i></button>
    </div>
    <p>Save your Personal Information and Continue to next Step.</p>
  </div>
</div>
</form>
