<!-- <div class="col-md-12">
  <a class="navbar-brand col-sm-7 col-md-7 mr-0" href="#"><img src="../../../assets/images/logo.svg" ></a>
  <span class="nav-pipes" onclick="openNav()">&#9776; </span>
</div>
<nav class="col-md-12 d-none d-md-block bg-light sidebar">
  <div class="sidebar-sticky">
    <ul class="nav flex-column">
      <li class="nav-item">
        <a class="nav-link active" href="#">
          <span><i class="fa fa-tachometer"></i> Dashboard</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" [routerLink]="['profile']">
            <span><i class="fa fa-user-o"></i> Profiles</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">
          <span><i class="fa fa-users"></i> Jobs</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">
          <span><i class="fa fa-comment-o"></i> Communications</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">
          <span><i class="far fa-calendar-alt"></i> Job Calender</span>
        </a>
      </li>
    </ul>
  </div>
</nav> -->

<div class="custom-sidebar" (window:resize)="onResize($event)">
  <!-- Sidebar -->
  <nav class="sidebar" [class.collapsingSideBar]="!isOpen">
      <div class="sidebar-header">
        <a class="navbar-brand col-sm-7 col-md-7 mr-0 navbar-logo">
          <img *ngIf="isOpen" src="../../../assets/images/logo.svg" >
          <img class="small-logo" *ngIf="!isOpen" src="../../../assets/images/small-logo.png" >
        </a>
        <span class="nav-pipes toggle-button" (click)="toggleNav()"><i class="fa fa-bars" aria-hidden="true">
          <div class="notify-icon-red"></div>
        </i>
        </span>
      </div>

      <ul class="list-unstyled components">
        <li class="nav-item notAvailable">
          <a class="nav-link">
            <span><i class="fa fa-tachometer"></i>
              <span class="inner-item" *ngIf="isOpen">Dashboard</span>

            </span>
          </a>
        </li>
        <li class="nav-item" [ngClass]="(role =='customer')?'nav-item notAvailable':'nav-item'">
          <a class="nav-link" [routerLink]="['profile',id]" [routerLinkActive]="['active-sidebarlink']">
            <span><i class="fa fa-user-o" aria-hidden="true"></i>
              <span class="inner-item" *ngIf="isOpen">Profile</span>
            </span>
          </a>
        </li>
        <li class="nav-item notAvailable">
          <a class="nav-link" href="#">
            <span class="user-list"><i class="fa fa-users"></i>
              <span class="inner-item" *ngIf="isOpen">Jobs</span>
              <span *ngIf="isOpen" class="badge-value">3</span>
              <span *ngIf="!isOpen" class="small-badge">3</span>
               </span>

          </a>
        </li>
<li class="nav-item">
  <a class="nav-link" [routerLink]="['communication']" [routerLinkActive]="['active-sidebarlink']">
    <span><i class="fa fa-comment-o"></i>
      <span class="inner-item" *ngIf="isOpen">Communications</span></span>
  </a>
</li>
        <li class="nav-item notAvailable">
          <a class="nav-link" href="#">
            <span><i class="fa fa-calendar" aria-hidden="true"></i>
              <span class="inner-item" *ngIf="isOpen">Job Calendar</span>
              </span>
          </a>
        </li>
      </ul>
  </nav>

</div>
