<div class="col-md-12">
  <a class="navbar-brand col-sm-7 col-md-7 mr-0" href="#"><img src="../../../assets/images/logo.svg" ></a>
  <span class="nav-pipes" onclick="openNav()">&#9776; </span>
</div>
<nav class="col-md-12 d-none d-md-block bg-light sidebar">
  <div class="sidebar-sticky">
    <ul class="nav flex-column">
      <li class="nav-item">
        <a class="nav-link active" href="#">
          <span><i class="fa fa-tachometer"></i> Dashboard</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" [routerLink]="['profile']">
            <span><i class="fa fa-user-o"></i> Profiles</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">
          <span><i class="fa fa-users"></i> Jobs</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">
          <span><i class="fa fa-comment-o"></i> Communications</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">
          <span><i class="far fa-calendar-alt"></i> Job Calender</span>
        </a>
      </li>
    </ul>
  </div>
</nav>
