.sidebar{
  margin-top: 2px;
}
.sidebar a {
  color: rgb(0, 0, 0);
  text-decoration: none;
}
.sidebar i {
  color: #d2d2d2;
  text-decoration: none;
}

.sidebar a:hover
{
  color:#67b2e2;
  background-color: #f7f7fb;
  text-decoration:none;
  cursor:pointer;
  border-radius: 4px;
}

.sidebar{
  background-color: #ffffff !important;
  margin-top: 22px;
  border-top: 1px solid #e0dfdf;
}

.sidebar li{
  margin: 14px 0;
}

.sidebar i {
  margin-right: 18px;
}

.nav-pipes{
  font-size:30px;
  cursor:pointer;
  margin-left: 80px;
}
