<div class="works" id="howits-work">
  <!--works-->
  <div class="container">
     <h1 class="title wow fadeInDown text-center">How it works?</h1>
     <h4 class="description wow fadeInDown text-center">SIMPLIFIED WORKFLOW!</h4>
     <h4 class="description wow fadeInDown text-center">Easy for Pilots - Easy for Customers</h4>
     <div class="white-box wow fadeInDown">
        <h4 class="wow fadeInDown mt50">FOR CUSTOMERS</h4>
        <div class="row mt80 for-customers">
           <div class="col-sm-4 col-md-4">
              <img src="../../../assets/images/Sign-Up_red.png" class="wow fadeInUp" />
              <h3 class="wow fadeInDown">SIGN UP <span class="pull-right btn-step">STEP 1</span></h3>
              <div class="clearfix"></div>
              <p class="wow fadeInDown">Complete the registration process and access your own user area.</p>
           </div>
           <div class="col-sm-4 col-md-4">
              <img src="../../../assets/images/PostaJob.png" class="wow fadeInUp" />
              <h3 class="wow fadeInDown">POST A JOB <span class="pull-right btn-step">STEP 2</span></h3>
              <div class="clearfix"></div>
              <p class="wow fadeInDown">Enter details of the work you need completed and submit.</p>
           </div>
           <div class="col-sm-4 col-md-4">
              <img src="../../../assets/images/Completion.png" class="wow fadeInUp" />
              <h3 class="wow fadeInDown">COMPLETION<span class="pull-right btn-step">STEP 3</span></h3>
              <div class="clearfix"></div>
              <p class="wow fadeInDown">Let DWS locate the best pilot for the job and we will get you the deliverable you desire.</p>
           </div>
        </div>
        <!--row-->
        <br>
        <p class="wow fadeInDown mt40 text-center"> <a href="" class="btn-hire">HIRE DWS PILOTS&nbsp;<span class="fa fa-arrow-right "></span></a></p>
     </div>
     <!-- white-box -->
  </div>
</div>
