/* You can add global styles to this file, and also import other style files */
@import './variables';
@import "~@ng-select/ng-select/themes/default.theme.css";
@import "assets/css/responsive.scss";
@import "../node_modules/angular-calendar/css/angular-calendar.css";

@font-face {
  font-family: 'Apercu-Medium';
  src: url('assets/fonts/Apercu-Medium/Apercu-Medium.eot?#iefix') format('embedded-opentype'),
    url('assets/fonts/Apercu-Medium/Apercu-Medium.woff') format('woff'),
    url('assets/fonts/Apercu-Medium/Apercu-Medium.ttf') format('truetype'),
    url('assets/fonts/Apercu-Medium/Apercu-Medium.svg#Apercu-Medium') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Apercu-Regular';
  src: url('assets/fonts/Apercu-Regular/Apercu-Regular.eot?#iefix') format('embedded-opentype'),
    url('assets/fonts/Apercu-Regular/Apercu-Regular.woff') format('woff'),
    url('assets/fonts/Apercu-Regular/Apercu-Regular.ttf') format('truetype'),
    url('assets/fonts/Apercu-Regular/Apercu-Regular.svg#Apercu-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Apercu-Mono';
  src: url('assets/fonts/Apercu-Mono/Apercu-Mono.eot?#iefix') format('embedded-opentype'),
    url('assets/fonts/Apercu-Mono/Apercu-Mono.woff') format('woff'),
    url('assets/fonts/Apercu-Mono/Apercu-Mono.ttf') format('truetype'),
    url('assets/fonts/Apercu-Mono/Apercu-Mono.svg#Apercu-Mono') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Apercu-Bold';
  src: url('assets/fonts/Apercu-Bold/Apercu-Bold.eot?#iefix') format('embedded-opentype'),
    url('assets/fonts/Apercu-Bold/Apercu-Bold.woff') format('woff'),
    url('assets/fonts/Apercu-Bold/Apercu-Bold.ttf') format('truetype'),
    url('assets/fonts/Apercu-Bold/Apercu-Bold.svg#Apercu-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Karla-Bold';
  src: url('assets/fonts/Karla-Bold/Karla-Bold.eot?#iefix') format('embedded-opentype'),
    url('assets/fonts/Karla-Bold/Karla-Bold.woff') format('woff'),
    url('assets/fonts/Karla-Bold/Karla-Bold.ttf') format('truetype'),
    url('assets/fonts/Karla-Bold/Karla-Bold.svg#Karla-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'RobotoCondensed-Bold';
  src:url("./assets/fonts/Roboto_Condensed/RobotoCondensed-Bold.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'RobotoCondensed-Light';
  src:url("./assets/fonts/Roboto_Condensed/RobotoCondensed-Light.ttf");
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'CarroisGothic-Regular';
  src:url("./assets/fonts/CarroisGothic-Regular/CarroisGothic-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}
html,body,app-root,.alignItems{
  // min-height: 100vh;
  // height:100%;
  // width: 100%;
}

div.mainContent{
  height: 100vh;
  overflow-y: auto;
}

.alignItems {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

i {
  &:hover {
    cursor: pointer;
  }
}
a {

  &:hover {
    cursor: pointer;
  }
}
input:focus {
  box-shadow: none !important;
}
button {
  border: none;

  &:hover {
    cursor: pointer;
  }
  &:focus {
    outline: 0 !important;
  }
}

.makeBgWhite {
  background: $white;
  border-radius: 10px;
  padding-bottom: 54px;
}

.makeCenter {
  text-align: center;
}

input.custom-input {
  font-family: 'Apercu-Regular';
  border-radius: 3px;
  border-width: 2px;
  border-color: $border-input-color;
  height: 56px;
}

input.custom-input:focus {
  // box-shadow: none;
  border-color: $border-input-color;
}

.custom-input-label {
  font-family: 'Apercu-Regular';
  color: $input-label-color;
}

.form-heading {
  padding-top: 36px;
  font-family: 'Apercu-Regular';
  color: $heading-color;
  padding-bottom: 20px;
  font-size: 24px;
}

.custom-checkbox,
.custom-radio {
  .container {
    font-family: 'Apercu-Regular';
    font-size: 19px;
    padding-top: 3px;
    display: block;
    position: relative;
    padding-left: 49px;
    margin-bottom: 16px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  /* Hide the browser's default checkbox */
  .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }
.container input:checked~.checkmark1 {
  background-color: #ff7676 !important;

}
  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    width: 34px;
    height: 34px;
    background-color: $white;
    border-radius: 50%;
    border: 1px solid $primary-color;
  }
.mark1{
  background: #29abe2 !important;
}
  /* On mouse-over, add a grey background color */
  // .container:hover input ~ .checkmark {
  //     background-color: $p-color;
  // }

  /* When the checkbox is checked, add a blue background */
  .container input:checked~.checkmark {
    background-color: $primary-color;

  }

  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }

  /* Show the checkmark when checked */
  .container input:checked~.checkmark:after {
    display: block;
  }

  /* Style the checkmark/indicator */
  .container .checkmark:after {
    content: '\2713';
    position: absolute;
    left: 9px;
    top: 2px;
    color: $white;
    /* background: white; */
    width: 2px;
    height: 2px;
  }
}

.custom-radio {
  margin-top: 9px;
  margin-bottom: 81px;
  clear: both;
  color: $input-label-color;
  .container {
    // width: 50%;
    width: 112px;
    float: left;
    font-size: 16px;
    padding-left: 37px;

    .checkmark {
      width: 21px;
      height: 21px;
      top: 4px;
    }
  }

  .container .checkmark:after {
    content: '\2713';
    position: absolute;
    left: 4px;
    top: 0px;
    font-size: 14px;
    color: $white;

  }
}

textarea.custom-textarea {
  resize: none;
  height: 162px !important;
}

textarea.custom-textarea:focus {
  box-shadow: none;
  border-color: $border-input-color;
}

.call-to-action {
  font-family: 'Apercu-Medium';
  display: block;
  text-align: center;
  // display: grid;
  // grid-template-columns: 1fr 1fr;
  // grid-row-gap: 10px;
  // grid-column-gap: 3%;
  margin: 56px auto;

  .goBack {
    justify-self: right;
    button {
      width: 233px;
      box-shadow: 0px 11px 46px 0px rgba(190, 66, 241, 0.2);
      background: $previous-button-bg;
      color: $white;
      padding: 14px 60px 14px 60px;
      border-radius: 32px;
    }
  }
  .saveButton {
    justify-self: left;
    button {
      width: 233px;
      box-shadow: 0px 11px 16px 0px rgba(190, 66, 241, 0.35);
      background: $save-button-bg;
      color: $white;
      padding: 14px 60px 14px 60px;
      border-radius: 32px;
    }
  }
  p {
    color: $buttons-desc-color;
    grid-row: 2/3;
    grid-column: 1/3;
    text-align: center;
  }
}

.image-upload>input {
  display: none;
}

.image-upload i {
  color: $primary-color;
}

.image-upload {
  position: absolute;
  top: -12px;
  right: -17px;

  label {
    background: $white;
    cursor: pointer;
    box-shadow: 0px 11px 46px 0px rgba(0, 0, 0, 0.18);
    width: 39px;
    height: 39px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
  }
}

.displayPicture {
  position: relative;
  display: inline-block;

  img {
    // width: 144px;
    // height: 143px;
    width: 104px;
    // height: 104px;
    border-radius: 28px;
    box-shadow: 0px 11px 46px 0px rgba(0, 0, 0, 0.2);
  }
}

.pdf-uploader, .image-uploader {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 7px;
  width: 164px;
  height: 159px;
  box-shadow: 0px 11px 46px 0px rgba(0, 0, 0, 0.2);

  img {
    width: 58px;
    height: 66px;
  }
}

.passportImage {
  position: relative;
  display: inline-block;

  img {
    // width: 593px;
    width: 100%;
    // height: 309px;
    border-radius: 28px;
    box-shadow: 0px 11px 46px 0px rgba(0, 0, 0, 0.2)
  }
}

.aperu-medium {
  font-family: 'Apercu-Medium';
}

.aperu-regular {
  font-family: 'Apercu-Medium';
}

.aperu-mono {
  font-family: 'Apercu-Mono';
}

.karla-bold {
  font-family: 'Karla-Bold';
}
.pt20{
  padding-top: 20px;
}
.p1530{
  padding: 10px 25px !important;
}
.pb0{
  padding-bottom: 0px !important;
}
.ml10{
  margin-left: 10px !important;
}
.ml15 {
  margin-left: 15px !important;
}
.mr5{
  margin-right: 5px !important;
}
.mr15 {
  margin-right: 15px !important;
}
.mTop15 {
  margin-top: 15px !important;
}

.mTop25 {
  margin-top: 25px !important;
}
.mTop50 {
  margin-top: 50px !important;
}
.mTop100 {
  margin-top: 100px !important;
}
.mBottom25 {
  margin-bottom: 25px !important;
}

.mBottom20 {
  margin-bottom: 20px !important;
}
.m50{
  margin: 25px 0px;
}

// input[type=number] {
//   font-family: 'Karla-Bold';
// }

div.ng-select-container {
  min-height: 56px !important;
  max-height: 214px !important;
  border-radius: 3px;
  border: 2px solid $border-input-color !important;
  .ng-input {
    input {
      min-height: 41px !important;
    }
  }
}


div.custom-table {

  .table {
    padding: 30px;
  }

  border-radius: 10px;
  border-width: 2px;
  border-style: solid;
  border-color: rgb(216, 216, 228);

  .table-header {
    display: grid;
    color: $primary-color;

    span {

      width: 200px;
      border-top: none;
      border-bottom: none;
    }
  }

  .table-body {
    max-height: 279px;
    overflow-y: scroll;
  }

  .table-row {
    display: grid;
    color: $table-row-color;
  }

  span {

    width: 200px;
    border-top: none;
  }

  .editRow {
    display: inline-block;
    color: $primary-color;
    width: 34px;
  }

  .deleteRow {
    width: 34px;
    display: inline-block;
    color: $delete-icon-color;
  }
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px $scroll-bar;
  border-radius: 10px;
  width: 6px;
  height: 6px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $primary-color;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: $primary-color;
}

.primary-dws-button {
  background: $primary-color;
  color: $white;
  padding: 12px 25px 12px 25px;
  border-radius: 32px;
}
.btn-center{
  display: grid;
  justify-content: center;
}
.button-secondary-dws {
  background: $secondary-button-color;
  color: $white;
  padding: 12px 45px 12px 45px;
  border-radius: 32px;
  text-transform: uppercase;
}

.for-four-columns {
  grid-template-columns: repeat(4, 1fr);
}

.for-three-columns {
  grid-template-columns: repeat(3, 1fr);
}
.for-seven-columns {
  grid-template-columns: repeat(7, 1fr);
}

.seperator {
  width: 100%;
  border-top: 1px solid $scroll-bar;
  margin-top: 21px;
  padding-bottom: 21px;
}

.mtop30 {
  margin-top: 30px !important;
}
.mt18 {
  margin-top: 18px !important;
}
.ml25{
  margin-left: -25px !important;
}

.ng-select.ng-select-single .ng-select-container .ng-value-container, .ng-select.ng-select-single .ng-select-container .ng-value-container .ng-value {
  color:#29abe2  !important;
}
.ng-select .ng-clear-wrapper {
  color:#29abe2  !important;
}
// .ng-select .ng-select-container {
//   color:#29abe2  !important;
// }
// .ng-select .ng-arrow-wrapper .ng-arrow {
//   color:#29abe2  !important;
//   border-color: transparent transparent #29abe2 !important;
// }
.custom-ngselect {
  div.ng-value {
    background-color: $multi-select-label-color !important;
    border: 0 !important;
    color: $white !important;
    font-family: 'Apercu-Medium' !important;
    padding: 4px 0px 4px 0 !important;
    // width: 165px !important;
    text-align: center !important;
    border-radius: 32px !important;

    .ng-value-icon {
      float: right;
      border: 0 !important;
      padding-right: 9px !important;

      &:hover {
        background-color: transparent !important;
        border: 0 !important;
      }
    }

    .ng-value-label {
      padding-left: 22px !important;
      padding-right: 7px !important;
    }
  }
}

.noPadding {
  padding-bottom: 0 !important;
}

.makeBlue {
  color: $primary-color;
}

.makeRed {
  color: $delete-icon-color;
}

.makePurple {
  color: $zoom-ic-color;
}

.imageGallery {
  font-family: 'Apercu-Medium';
  text-align: center;

  .thumb-img {
    img {
      width: 100%;
      height: 214px;
      border-radius: 7px;
    }
  }

  .thumb-title {
    font-size: 16px;
  }

  .thumb-description {
    font-size: 14px;
  }
}

.inline-block {
  display: inline-block;
  width: 20%;

  i {
    font-size: 21px;
  }
}

.hide-overflow {
  height: 44px;
  overflow: hidden;
  display: block;
}

.docs-dec {
  p {
    font-family: 'Apercu-Regular';
    line-height: 2.251;
    color: #4d5862;
  }

  h3 {
    font-family: 'Apercu-Regular';
    color: #666676;
  }
}

.achievement-dec {
  p {
    font-family: 'Apercu-Regular';
    line-height: 2.251;
    color: #4d5862;
  }

  .makePink {
    color: $multi-select-label-color !important;
    text-decoration: underline !important;
    font-family: 'Apercu-Bold';
  }

  h3 {
    font-family: 'Apercu-Regular';
    color: #666676;
  }
}

.invalid-feedback {
  display: block !important;
}
button.disabledButton {
  cursor: no-drop;
  opacity: 0.6;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
     -webkit-appearance: none !important;
}

input[type=number] {
  -moz-appearance: textfield;
}

.makeBlock {
  width: 100%;
  display: block;
}

.errorMsg {
  font-family: 'Apercu-Regular';
  color: #ff566a;
}

.toggle-button {
  align-items: center;
  justify-content: flex-end;
  display: flex;
  float: right;
  flex: 1;
  margin-right: 23px;


  i {
    color: $primary-color !important;
    font-size: 21px;
    position: relative;
  }

  &:hover {
    cursor: pointer;
  }

  .notify-icon-red {
    position: absolute;
    top: -4px;
    width: 10px;
    /* left: 0; */
    right: -4px;
    height: 10px;
    border-radius: 50%;
    background-color: #ff566a;
    width: 10px;
    height: 10px;


  }
}

.topContent {
  text-align: center;
  h1 {
    font-family: 'Apercu-Medium';
    padding-top: 100px;
    font-size: 34px;
  }

  p {
    width: 42%;
    margin: 0 auto;
    font-size: 20px;
    font-family: 'Apercu-Regular';
    padding-bottom: 30px;
    color: $p-color;
  }
}
.makeBlack {
  color: $black;
}

.custom-primary-button {
  margin-left: 28px;
  background: $primary-color;
  font-family: 'Apercu-Medium';
  color: $white;
  font-size: 18px;
  box-shadow: 0px 8px 14px 0px rgba(41, 171, 226, 0.25);
  width: 181px;
  height: 58px;
  border-radius: 7px;
  position: absolute;
  bottom: 0;
  top: 30px;
}
.alignToBottom {
  position: absolute;
  bottom: 0;
  top: 32px;
}


div.dataTables_wrapper {
  position: relative;
  padding-bottom: 60px;


  div.dataTables_filter, div.dataTables_paginate,div.dataTables_info {
    display: none;
  }
  div.dataTables_length {
    position: absolute;

    bottom: 0;
    left: 0;
    right: 0;
  }
  .custom-datatable {

  }

  div.dataTables_scrollBody {
    height: 410px !important;
    overflow-y: scroll !important;
  }
}


//loader
.spinner {
  width: 40px;
  height: 40px;

  position: relative;
  margin: 100px auto;
}

.double-bounce1, .double-bounce2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #333;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;

  -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
  animation: sk-bounce 2.0s infinite ease-in-out;
}

.double-bounce2 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

@-webkit-keyframes sk-bounce {
  0%, 100% { -webkit-transform: scale(0.0) }
  50% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bounce {
  0%, 100% {
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 50% {
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}


//custom modal start
div.custom-modal {
  .modal-content {
    position: relative;
    border-radius: 29px;
    border: 4px solid $modal-border;

    .modal-header,.modal-footer{
      border: 0;
    }

    .modal-inner {
      padding: 0px 0px 20px 0px;

    }
  }

  .round-logo {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 4px solid $modal-border;
    background: $white;
    position: absolute;
    top: -78px;
    right: 0;
    left: 0;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      width: 60px;
    }
  }
  .modal-body.sucess
  {
    h3 {
color: $success;
font-size: 28px;
font-family: 'Apercu-Medium';
    }
    p {
      color: $modal-text-color;
      font-size: 24px;
      font-family: 'Apercu-Regular';
    }
  }
  
  .maintenance-message {
    h3 {
      color: $primary-color;
      font-size: 28px;
      font-family: 'Apercu-Medium';
          }
          p {
            color: $modal-text-color;
            font-size: 24px;
            font-family: 'Apercu-Regular';
          }

  }
  .modal-body.error,.modal-body.delete
  {
    h3 {
color: $error-modal;
font-size: 28px;
font-family: 'Apercu-Medium';
    }
    p {
      color: $modal-text-color;
      font-size: 24px;
      font-family: 'Apercu-Regular';
    }
  }
  .modal-body.warning
  {
    h3 {
color: $warning-modal;
font-size: 28px;
font-family: 'Apercu-Medium';
    }
    p {
      color: $modal-text-color;
      font-size: 24px;
      font-family: 'Apercu-Regular';
    }
  }
  .footer-content {
    .custom-modal-button.success-btn{
      display: block;
      margin: 0 auto;
      border-radius: 33px;
      background: $success;
      font-family: 'Apercu-Bold';
      font-size: 18px;
      color: $white;
      width: 173px;
      height: 66px;
      margin-bottom: 20px;
    }
    .custom-modal-button.try-later{
      display: block;
      margin: 0 auto;
      border-radius: 33px;
      background: $error-modal;
      font-family: 'Apercu-Bold';
      font-size: 18px;
      color: $white;
      width: 173px;
      height: 66px;
      margin-bottom: 20px;
    }
    .custom-modal-button.warning-btn{
      display: block;
      margin: 0 auto;
      border-radius: 33px;
      background: $warning-modal;
      font-family: 'Apercu-Bold';
      font-size: 18px;
      color: $white;
      width: 173px;
      height: 66px;
      margin-bottom: 20px;
    }
    .custom-modal-button.maintenance-btn{
      display: block;
      margin: 0 auto;
      border-radius: 33px;
      background: $primary-color;
      font-family: 'Apercu-Bold';
      font-size: 18px;
      color: $white;
      width: 260px;
      height: 66px;
      margin-bottom: 20px;
    }

    a {
      font-family: 'Apercu-Regular';
      font-size: 16px;
      color: $modal-text-color;
    }
    .yes-btn {
      display: block;
      margin: 0 auto;
      border-radius: 33px;
      background: $error-modal;
      font-family: 'Apercu-Bold';
      font-size: 18px;
      color: $white;
      width: 173px;
      height: 66px;
      margin-bottom: 20px;
    }
    .no-btn {
      display: block;
      margin: 0 auto;
      border-radius: 33px;
      background: $save-button-bg;
      font-family: 'Apercu-Bold';
      font-size: 18px;
      color: $white;
      width: 173px;
      height: 66px;
      margin-bottom: 20px;
    }
  }
  .alignButton {
    display: flex;
    justify-content: center;
    align-content: center;
  }

}
//custom modal end
.successMessage {
  background: $success;
  color: $white;
  text-align: center;
  padding: 20px;
}
.errorMessage {
  background: #f00;
  color: $white;
  text-align: center;
  padding: 20px;
}

.alignMiddleCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

.makeRightFlex {
  justify-content: flex-end;
}
//data table pilot list

div.command-center div.dataTables_wrapper.no-footer .dataTables_scrollBody{
  border-bottom: 0 !important;
}
div.command-center div.dataTables_scroll {
  border-radius: 10px !important;
  border-width: 2px !important;
  border-style: solid !important;
  border-color: rgb(216, 216, 228) !important;
  background: $white;
}
div.dataTables_length {
  label {
    color: $black;
    font-family: 'Apercu-Regular';
    font-size: 14px;

    select {
      background: $white;
      border-radius: 24px;
    }
  }
}
// Datatables end

.disableDiv {
    pointer-events: none !important;
}
.disableBtn{
    pointer-events: none !important;
    background: #9595a2 !important;
    color: #fff !important;

}
.enableDiv {
  pointer-events: visible !important;
}

.loaderBtn {
  pointer-events: none !important;
}

.crop-btn {
  background: $primary-color;
  margin-top: 9px;
  color:$white;
  margin-bottom: 8px;

}

.uploader {
  i {
    margin-top: 9px;
    margin-bottom: 8px;
    color: $primary-color;
    font-size: 24px;
  }
}

button:disabled {
  cursor: no-drop;
}
.disabled {
  pointer-events: none;
}

.disabledAnchor {
  pointer-events: none !important;
  opacity: 0.5 !important;
}


.about-banner{
  display: grid;
    grid-template-columns: 1fr;

    img {
      width: 100%;
      grid-row: 1/2;
      grid-column: 1/2;
      height: 220px;
    }

    .centered {
      grid-row: 1/2;
      grid-column: 1/2;
      color: white;
      display: flex;
      align-items: center;
      justify-content: center;
    }
}
.uppercase {
  text-transform: uppercase;
}

.marginAuto {
  margin: 0 auto !important;
}


.notAvailable {
  opacity: 0.5;
  pointer-events: none;
}
div.custom-datepicker{
  div.bs-datepicker-head{
    background-color: #29abe2;
  }

  div.bs-datepicker-body{
    table
    tr {
      td.week {
        color: #29abe2;
      }

      td {
        span.selected {
          background-color: #29abe2;
        }
      }
    }
  }
}

.custom-select1{
  .ng-arrow-wrapper{
    .ng-arrow{
      border-color: #29abe2 transparent transparent;
      border-style: solid;
      border-width: 5px 5px 2.5px;
    }
  }
}
.ng-select-opened>.ng-select-container .ng-arrow {
  border-color: transparent transparent #29abe2 !important;
}
.ng-select .ng-arrow-wrapper:hover .ng-arrow {
  border-top-color:  #29abe2 !important;
}
.ng-select .ng-select-container .ng-value-container .ng-placeholder {
  color:#29abe2 !important;
}

ng-select.job-custom-select .ng-select-container .ng-value-container .ng-placeholder  {
  top: 12px !important;
}

.custom-btn{
  padding: 6px 15px;
  background: #fff;
  border-radius: 20px;
}
.custom-btn1{
  border: 1px solid #c5c5c7;
  padding: 17px 30px;
  margin: 5px 10px;
  border-radius: 30px;
  color: #fff !important;
  background: #fff;
  font-size: 16px;
}
.custom-btn2 {
  margin: 5px 10px;
  border-radius: 30px;
  color: #fff;
  padding: 5px 10px;
  font-size: 12px;
}
.red-trans{
  border: 1px solid #ff7676;
  color: #ff7676 !important;
}
.gray-trans{
  border: 1px solid #c4c0c0;
  color: #c4c0c0 !important;
}
.green-trans{
  border: 1px solid #4dc970;
  color: #4dc970 !important;
}
.yellow-trans{
  border: 1px solid #f3f714;
  color: #f3f714 !important;
}
.manage-btn{
  background-color: #29abe2;
  padding: 9px 18px;
  border: none;
  border-radius: 20px;
  outline: none;
  color: white !important;
}
.removeIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  margin-top: 10px;
  i {
    color: $delete-icon-color;
  }
}
.buttons {

  .btn-message {
    background: $primary-color;
    // background: #49cb46;
    color: $white;
  }

  .btn-approve {
    // background:$delete-icon-color;
    background: #49cb46;
    color: $white;
  }

  a {
    margin: 20px;
    padding: 17px 40px;
    border-radius: 30px;
  }

  .btn-reject {
    background: $delete-icon-color;
    // background: #f00;
    color: $white;
  }
}

// for dashboard only
.top-content {
  padding-top: 15px;
  .heading1{
    text-transform: capitalize;
    font-size: 2.7em;
    margin-top: 32px;

  }
}
.description1 {
  color: #73738a;
  font-size: 1.2em;
}
.box {
  position: relative;
  border-radius: 8px;
  background: #fff;
  padding: 20px;
  margin: 15px 10px;

  h2 {
    font-size: 2.7em;
  }

  p {
    font-size: 1.1em;
  }

}
 .bell-icon {
   position: absolute;
   top: -25px;
   right: -27px;
   color: #fff;
   font-size: 1.4em;
   padding: 10px 15px;
   border-radius: 50%;
 }
 .barchart-section {
   background: #fff;
   .barchar-legend{
      display: flex;
      justify-content: space-evenly !important;
      align-items: center;
   }
 }
 .message-section{
  display: flex;
  justify-content: space-around;
  align-items: center;
  .circle{
    display: grid;
    justify-content: center;
    line-height: 60px;
    padding: 0px 1;
    width: 60px;
    border-radius: 50%;
    height: 60px;
    color: #fff;
    font-size: 1.4em;
  }
 }
  .message-content {
    background: #fff;
    height: 472px;
    overflow: auto;
    padding: 10px 20px;
    .admin-msg{
      .msg-info {
        display: flex;
        align-items: center;

        img {
          width: 50px;
          border-radius: 50%;
          margin-right: 10px;
        }

        h2 {
          font-size: 1.1rem;
          margin-bottom: 0px;
          color: $primary-color;
        }

        p {
          color: #73738a;
        }
      }

      .msg-txt {
        border: 1px solid #ccc;
        border-radius: 8px;
        margin: 10px 0px;
        padding: 10px 10px 0px 10px;

        p {
          font-size: 0.9em;
          color: #73738a;
        }
      }

      a {
        display: flex;
        justify-content: flex-end;
      }
    }

  }
 .heading2{
  color: #73738a;
  font-size: 1.8em;
  font-weight: 200;
 }
// for text
.white-txt{
  color: #fff !important;
}
.blue-txt{
  color: $primary-color !important;
}
.red-txt{
  color:$details-btn !important;
}
.yellow-txt{
  color: $warning-modal !important;
}
.green-txt{
color: $success !important;
}
// for backgrond
.blue-bg {
  background: $primary-color !important;
}
.red-bg {
  background: $details-btn !important;
}
.yellow-bg {
  background: $warning-modal !important;
}
.green-bg {
  background: $success !important;
}
.orange-bg {
  background-image: linear-gradient(to right, rgb(253, 149, 89) 0%, rgb(252, 102, 38) 100%);
  background-image: -moz-linear-gradient(to right, rgb(253, 149, 89) 0%, rgb(252, 102, 38) 100%);
  background-image: -ms-linear-gradient(to right, rgb(253, 149, 89) 0%, rgb(252, 102, 38) 100%);
}
.green-g-bg {
  background-image: linear-gradient(to right, rgb(65, 183, 81) 0%, rgb(52, 173, 220) 100%);
  background-image: -moz-linear-gradient(to right, rgb(65, 183, 81) 0%, rgb(52, 173, 220) 100%);
  background-image: -ms-linear-gradient(to right, rgb(65, 183, 81) 0%, rgb(52, 173, 220) 100%);
}
// for dashboard only
.blue-border {
  border-color: $primary-color !important;
  margin: 1px 1px 1px 0px !important;

}
.white-border {
  border-color: #fff !important;
}
.custom-tabs {
  margin-bottom: 28px;
  display: flex;
  margin: 0 auto;
  margin-top: 0;

  ul {
    // display: flex;
    // align-items: center;
    // justify-content: center;
    text-align: center;
    height: 46px;
    padding-right: 25px;

    flex: 0 0 auto;
    margin: 0 auto;
    margin-bottom: 39px;
    // margin-bottom: 23px;

    li {
      display: inline-block;

      margin: 13px 17px 0px 0px;

      a {
        border: 1px solid $p-color;
        // background-color: rgb(41, 171, 226);
        color: $p-color;
        // padding: 12px 20px 12px 20px;
        padding: 12px 29px 12px 29px;

        border-radius: 21px;
        background: transparent;
        font-size: 16px;
        font-family: 'Apercu-Medium';

        &:hover {
          text-decoration: none;
          background: $primary-color;
          color: $white;
          border: 1px solid $primary-color;
        }

        .badge {
          background: $delete-icon-color;
          color: $white;
          border-radius: 50%;
          padding: 7px 10px 7px 10px;
          margin-left: 6px;
        }
      }
    }
  }

  .active-link {
    position: relative;
    background: $primary-color !important;
    border: 1px solid $primary-color !important;
    color: $white !important;
    box-shadow: 0px 8px 33px 0px rgba(41, 171, 226, 0.18);

    &::after {
      position: absolute;
      width: 100%;
      //   left: 38%;
      // right: 0;
      // bottom: -16px;
      display: flex;
      text-align: center;
      justify-content: center;
      content: url('./assets/images/down_arrow.svg');

    }
  }
}
.custom-ul{
  margin: 0px !important;
}
.flex-display{
  display: flex ;
  justify-content: space-evenly !important;
  align-items: center;
}

// calander style starts from here

.calender{
.cal-month-view {
  .cal-day-badge {
    background-color: #29abe2;
  }
}
.btn-primary:not(:disabled):not(.disabled).active,
  {
  background: #2d94c1 !important;
}

.cal-month-view .cal-day-cell.cal-weekend .cal-day-number {
  color: #29abe2;
}

.btn-outline-secondary:hover {
  color: #fff;
  background-color: #29abe2 !important;
}
}
.ngx-charts {
  background: #fff;
  width: 730px;
}

// calander style ends here


//rating
.star {
  position: relative;
  display: inline-block;
  font-size: 3rem;
  color: #29abe2;
}
.full {
  color: #29abe2;
}
.half {
  position: absolute;
  display: inline-block;
  overflow: hidden;
  color: #29abe2;
}
