$white: #fff;
$primary-color:  #29abe2;
$p-color :#73738a;
$background-color: #f5f5f6;
$border-input-color: rgb(212, 212, 224);
$input-label: #666676;
$heading-color: #818181;
$previous-button-bg: #f4a2a3;
$save-button-bg: #be42f1;
$buttons-desc-color: #646483;