$white: #fff;
$black: #000;
$primary-color:  #29abe2;
$p-color :#73738a;
$background-color: #f5f5f6;
$border-input-color: rgb(212, 212, 224);
$input-label: #666676;
$heading-color: #818181;
$previous-button-bg: #f4a2a3;
$save-button-bg: #be42f1;
$buttons-desc-color: #646483;
$delete-icon-color :#fc6262;
$table-row-color: #4e5283;
$scroll-bar: #ebebf0;
$secondary-button-color: #2d6bc8;
$multi-select-label-color: #c859d5;
$zoom-ic-color: #be42f1;
$input-label-color: #666676;
$sidebar-items-color : #3b3c4b;
$sidebar-active-color: #f7f7fb;
$border-color-navbar: #caccd1;
$modal-border: #dadaec;
$success: #5dcc31;
$modal-text-color: #666b8c;
$error-modal: #f14b4b;
$warning-modal: #fa972c;
$table-heading:#29abe2;
$details-btn:#fc5757;
$table-scroll:#ebebf0;
$table-row-hover:#f5f5f6;
