<basic-header></basic-header>
<div class="sign-up" >
    <div class="container">
       <div class="row">
          <div class="col-md-12">
             <div class="form-sign-up">
                <h2 class="wow fadeInDown">Update Password</h2>
                <h4 class="wow fadeInDown">Change your account Password.</h4>
                <br>
                <hr>
                <br>
  
                  <form id="loginForm" [formGroup]="forgotForm" *ngIf="Verified">
                   <div class="row">
                    <div class="col-sm-12 col-md-12">
                      <div class="form-group wow fadeInDown">
                         <label for="email">Password</label>
                         <input type="password" id="lastname" class="form-control"  placeholder="Password" formControlName="Password" >
                         <div *ngIf="form.Password.invalid && (form.Password.dirty || form.Password.touched)" class="invalid-feedback">
                             <div *ngIf="form.Password.errors.required">Password is required</div>
                         </div>
                      </div>
                   </div>
           
                   </div>
  
                   <div class="form-group wow fadeInDown">
                    <p *ngIf="error" class="errorMessage">{{error}}</p>
                    <p *ngIf="success" class="successMessage">{{success}}</p>
                </div>
                   <button type="button" id="submitLoginForm" class="btn btn-sign-up mt20 wow fadeInDown" (click)="changePassword()">Change Password</button>
                </form>
  
                <form action="" *ngIf="!Verified">
                  <h1>Not Verified</h1>
                </form>
  
             </div>
          </div>
          <!-- col-8 -->
       </div>
       <!-- row -->
    </div>
    <!-- container -->
  </div>
  <how-it-works></how-it-works>